<div class="d-flex flex-column flex-xl-row justify-content-between updates">
	<div class="d-flex flex-column h-100 justify-content-center updates__info">
		<h4 class="text-white fw-bold updates__info__title text-center text-xl-start">
			{{ lang.title }}
		</h4>
		<p class="text-white fw-normal updates__info__descripcion w-100 mt-1 text-center text-xl-start">
			{{ lang.description }}
		</p>
		<a routerLink="/upgrades" class="btn btn-orange mt-3 text-white mx-auto mx-xl-0" color="accent">
			{{ lang.button }}
		</a>
	</div>
	<img src="https://staticv1.inclub.site/images/logo-updates.jpg" loading="lazy" class="updates__img" />
</div>
