<div class="p-4 border-0 bg-white">
	<div class="row g-4">
		<div class="col-lg-8">
			<div class="card p-4 border-0 h-100">
				<h1 class="m-0 fs-4 text-black fw-medium">{{title}}</h1>
				<div class="row row-cols-1 row-cols-sm-2 g-3">
					<div class="col mt-4" *ngFor="let option of dashboardOptions">
						<app-card-option
							[title]="option.title"
							[icon]="option.icon"
							[description]="option.description"
							[route]="option.route"
						>
						</app-card-option>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 shadow bg-white rounded p-4">
			<app-info-section
				[cards]="dashboardInfoCards"
				helpTitle="¿Para qué sirve un ticket?"
				helpText="En este módulo podrás generar tickets para migración, periodos de gracia, traspasos, gestiones legales y otras solicitudes que necesites."
				supportText="Si no puedes generar un ticket, reporta el problema y soporte de InClub te ayudará."
				supportButton="Reportar problema"
			>
			</app-info-section>
		</div>
	</div>
</div>
