<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pago en Revisión</title>
</head>

<body style="margin:0; padding:10px 0px 10px 0px; background-color:#f4f4f4;">
    <table width="550" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f4f4f4"
        style="border-radius:8px;">
        <tbody>
            <tr>
                <td>
                    <table width="550" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff"
                        style="border-radius:8px; overflow: hidden;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="550" cellpadding="0" cellspacing="0" border="0" align="center"
                                        bgcolor="#092D37">
                                        <tbody>
                                            <tr>
                                                <td height="5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center"><img src="{{logoUrl}}"
                                                        alt="InClub Logo" width=120"></td>
                                            </tr>
                                            <tr>
                                                <td height="5px">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px 24px 0px 24px;">
                                    <p
                                        style="margin:24px 0px 10px 0px; padding:0px 0px 8px 0px; font-family:Arial,Tahoma,Helvetica; font-size:16px; color:#384860; font-weight:400; line-height:150%; text-align:center; border-bottom: 1px solid #E0E0E0;">
                                        <b>Hola {{fullName}}</b>
                                    </p>
                                    <p
                                        style="margin:0px 0px 0px 0px; font-family:Arial,Tahoma,Helvetica; font-size:16px; color:#384860; font-weight:400; line-height:150%; text-align:center;">
                                        Ya estas más cerca de disfrutar el evento con nosotros.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="10px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="502" cellpadding="0" cellspacing="0" border="0" align="center"
                                        bgcolor="#F9F9F9" style="border-radius:8px; padding:24px 24px 24px 24px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="{{bannerUrl}}" alt="Banner"
                                                        style="width:150px; height:auto; border-radius:8px; display:block; object-fit:cover;">
                                                </td>
                                                <td>
                                                    <p
                                                        style="width: 280px; padding:0px 0px 0px 24px; font-family:Arial,Tahoma,Helvetica; font-size:18px; color:#1E1E1E; text-align:center; word-break:break-word;">
                                                        <b>{{eventName}}</b>
                                                    </p>
                                                    <p
                                                        style="width: 280px; padding:0px 0px 0px 24px; font-family:Arial,Tahoma,Helvetica; font-size:12px; color:#64676C; text-align:center; word-break:break-word;">
                                                        {{eventDate}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="502" cellpadding="0" cellspacing="0" border="0" align="center"
                                        bgcolor="#F9F9F9" style="border-radius:8px; padding:24px 24px 24px 24px;">
                                        <tbody>
                                            <tr>
                                                <td style="width:276px; font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400;"
                                                    valign="top">
                                                    {{paymentMethod}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width:276px; font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:12px; color:#64676C;"
                                                    valign="top">
                                                    {{paymentDate}}</td>
                                            </tr>
                                            <tr>
                                                <td height="8px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="width:276px; font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:12px 0px 2px 0px;
                                    border-top:1px solid #E0E0E0;" valign="top">
                                                    Código de operación:</td>
                                                <td style="font-family:Arial,Tahoma,Helvetica; text-align: right; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:12px 0px 2px 0px; border-top:1px solid #E0E0E0; white-space:nowrap;"
                                                    valign="top">
                                                    {{operationCode}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width:276px; font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:2px 0px 2px 0px;"
                                                    valign="top">
                                                    Valor original:</td>
                                                <td style="font-family:Arial,Tahoma,Helvetica; text-align: right; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:2px 0px 2px 0px; white-space:nowrap;"
                                                    valign="top">
                                                    {{originalValue}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width:276px; font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:2px 0px 2px 0px; border-bottom:1px solid #E0E0E0;"
                                                    valign="top">
                                                    Comisión:</td>
                                                <td style="font-family:Arial,Tahoma,Helvetica; text-align: right; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:2px 0px 12px 0px; white-space:nowrap; border-bottom:1px solid #E0E0E0;"
                                                    valign="top">
                                                    {{commission}}</td>
                                            </tr>
                                            <tr>
                                                <td height="8px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="width:276px; font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:0px 0px 0px 0px;"
                                                    valign="top">
                                                    <b>Valor final:</b>
                                                </td>
                                                <td style="font-family:Arial,Tahoma,Helvetica; text-align: right; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:0px 0px 0px 0px;"
                                                    valign="top">
                                                    <b>{{finalValue}}</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="8px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p
                                        style="margin:0px 24px 24px 24px; font-family:Arial,Tahoma,Helvetica; text-align:center; font-size:16px; color:#384860; font-weight:400; line-height:150%;">
                                        Para confirmar la reserva realizaremos la verificación de tu
                                        pago.
                                        En menos de 48 hr recibirás un correo electrónico con la constancia de
                                        confirmación
                                        donde estará el detalle de tu reserva.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="10px">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table width="550" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff"
                        style="border-radius:8px; overflow: hidden;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="502" cellpadding="0" cellspacing="0" border="0" align="center"
                                        bgcolor="#FFFFFF">
                                        <tbody>
                                            <tr>
                                                <td
                                                    style="font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:24px 0px 4px 0px;">
                                                    <b>¿Necesitas ayuda?</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-family:Arial,Tahoma,Helvetica; text-align: left; font-size:14px; color:#1E1E1E; font-weight:400; word-break:break-word; padding:0px 0px 24px 0px;">
                                                    Si tiene alguna pregunta, inquietud o necesita más información sobre
                                                    los
                                                    próximos
                                                    pasos,
                                                    no dude en comunicarse con nosotros a
                                                    <a href="mailto:{{supportEmail}}"
                                                        style="color:#0176D3; text-decoration:underline;">
                                                        {{supportEmail}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p
                                        style="font-family:Arial,Tahoma,Helvetica; font-size:12px; color:#64676C; margin:0; background:#F9F9F9; padding:15px 0px 15px 0px; text-align:center;">
                                        &copy;{{year}} InClub. Todos los derechos reservados.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
    </table>

</body>

</html>