<div class="flex flex-column gap-6 p-6 bg-white w-100">
    <h1>(mock)</h1>
	<filter-generic
		[filters]="filters"
		[values]="filterValues"
		[columnsDesktop]="4"
		[showActionButton]="false"
		[showClearButton]="true"
		[clearLabel]="'Limpiar'"
		[extraButtons]="extraButtons"
		(valuesChange)="onValuesChange($event)"
		(search)="onSearch($event)"
		(extraAction)="onExtraAction($event)"
	></filter-generic>

	<ng-container *ngIf="totalFiltered > 0; else emptyState">
		<app-table-generic
			[columns]="genericColumns"
			[keys]="genericKeys"
			[data]="pagedData"
			[columnWidths]="genericWidths"
			[actionsWidthPercentOverride]="12"
			[freezeOverflow]="true"
			[pageIndex]="pageIndex"
			[pageSize]="pageSize"
			[showView]="true"
			[showEdit]="false"
			[showDelete]="false"
			[showActions]="true"
			[onlyViewLabel]="''"
			(view)="onViewRow($event)"
		></app-table-generic>

		<app-table-paginator
			[length]="totalFiltered"
			[pageSize]="pageSize"
			[pageIndex]="pageIndex"
			(pageChange)="onPageChange($event)"
			(pageSizeChange)="onPageSizeChange($event)"
		></app-table-paginator>
	</ng-container>
	<ng-template #emptyState>
		<app-empty-state message="No data"></app-empty-state>
	</ng-template>
</div>
