<div class="d-flex flex-column gap-6 p-6 bg-white w-100">
	<!-- <h1 class="text-black m-0 fs-3 fw-medium">Tipo de Cambio</h1> -->
	<!--<nav class="d-flex gap-3 align-items-center">
		<a
			routerLink="/dashboard/change-type/general"
			class="d-block py-2 px-4 text-black fs-7 fw-normal rounded"
			[ngClass]="{
				'bg-secondary text-white': tab === 'general',
				'bg-gray-200 border border-gray-300': tab !== 'general'
			}"
			routerLinkActive="bg-secondary text-white border-none"
		>
			General
		</a>
		<a
			routerLink="/dashboard/change-type/detailed"
			class="d-block py-2 px-4 text-black fs-7 fw-normal rounded"
			[ngClass]="{
				'bg-secondary text-white': tab === 'detailed',
				'bg-gray-200 border border-gray-300': tab !== 'detailed'
			}"
			routerLinkActive="bg-secondary text-white border-none"
		>
			Detalle
		</a>
	</nav>-->
	<router-outlet></router-outlet>
</div>
