<div *ngIf="
!activetionOptionEarnCarBonus() && 
!activetionCarBonusDocument() &&
!activetionCarBonusSeeDocument() && 
!activetionCarBonusSchedule() && 
!activetionCarBonusProforma()">
  <mat-card class="rank-card"
    [style.background]="getGradientColor(currentTabState ? rangeData?.idRange : rangeData?.idMaxResidualRange)">
    <div class="rank-header">
      <!-- Insignia / medalla -->
      <img [src]="'https://s3.us-east-2.amazonaws.com/backoffice.documents/Ranges/' +
          formatRangeName(currentTabState ? rangeData?.rango : rangeData?.rangoResidual)+ '.png'" alt="Insignia"
        class="rank-badge">

      <div class="rank-info">
        <h3 class="rank-title">{{ currentTabState ? rangeData?.rango : rangeData?.rangoResidual }}</h3>
        <p class="rank-subtitle">Rango actual</p>
      </div>

      <!-- Próximo rango -->
      <div class="rank-next rounded-4 shadow p-2 custom-color-range">
        <div class="rank-next-text">Próximo rango</div>
        <img [src]="'https://s3.us-east-2.amazonaws.com/backoffice.documents/Ranges/' +
          formatRangeName(currentTabState ? nextRangeData?.nextCompoundRange : nextRangeData?.nextResidualRange)+ '.png'"
          alt="Próximo rango" class="rank-next-icon">

      </div>
    </div>

    <!-- Barras de progreso -->
    <!--
    <div class="rank-progress">
      <div class="progress-label">
        <span>600/1080 cantidad de puntos Totales</span>
        <span>{{ currentTabState ?compuestoRama2 : residualRama2 }} pts</span>
      </div>
      <mat-progress-bar class="custom-progress" mode="determinate"
        [value]="currentTabState ? compuestoRama2 : residualRama2" [ngStyle]="getBarStyle(rangeData.idRange)">
      </mat-progress-bar>
    </div>

    <div class="rank-progress">
      <div class="progress-label">
        <span>90/360 cantidad de puntos directos</span>
        <span>25%</span>

      </div>
      <mat-progress-bar mode="determinate" [value]="currentTabState ? compuestoRama3 : residualRama3"
        class="custom-progress" [ngStyle]="getBarStyle(rangeData.idRange)">
      </mat-progress-bar>
    </div>
    -->
    <div class="rank-progress">
      <div class="progress-label">
        <span>Avance hacia el próximo rango</span>
        <span>{{ averagePercentage ?? 0 }}%</span>
      </div>
      <mat-progress-bar class="custom-progress" mode="determinate"
        [value]="averagePercentage ?? 0" [ngStyle]="getBarStyle(rangeData?.idRange)">
      </mat-progress-bar>
    </div>

    <button mat-stroked-button color="accent" class="custom-button mt-3" (click)="openModal()">
      <mat-icon class="icon">help_outline</mat-icon>
      ¿Cómo conseguir más puntos?
    </button>
  </mat-card>


  <div class="bonus-container mt-5">
    <mat-card class="bonus-card" *ngFor="let bono of carBonus">
      <div class="image-container">
        <img mat-card-image [src]="bono.image" alt="{{bono.title}}">

        <button mat-stroked-button color="accent" class="custom-button-imag">
          <img src="assets/images/Frame1686561909.svg" [style]="'width: 20px; height: 20px'" alt="medalla">
        </button>


      </div>
      <mat-card-content class="cursor" [class.cursor]="bono.id === 2" (click)="bono.id === 2 && getClassification()">
        <h3 class="title">{{ bono.title }}</h3>
        <p class="subtitle">Rango Mínimo: {{ bono.rango }}</p>
      </mat-card-content>

    </mat-card>
  </div>

  <!-- <app-modal-notify 
    *ngIf="showNotify && IdAssignment" 
    [title]="notifyTitle" 
    [message]="notifyMessage" 
    [iconType]="notifyIcon"
    [showInfoBox]="true" 
    [primaryText]="'Ir a Documentos'" 
    [infoBoxMessage]="infoBoxMessage"
        [oneButton]="false"
    (closed)="onCloseNotify()"
    (confirmed)="confirmed()">
  </app-modal-notify> -->

</div>
<div class="d-flex flex-column ms-5">
  <app-option-earn-car-bonus *ngIf="activetionOptionEarnCarBonus()"></app-option-earn-car-bonus>
<app-car-bond-document 
  [dataBody]="tableData" 
  (detailModal)="onDetail($event)"
	[totalRecords]="totalRecords" 
  (pageChange)="onPageChange($event)" [isLoading]="isLoading"
	(refresh)="onRefresh($event)"
*ngIf="activetionCarBonusDocument()">
</app-car-bond-document>

<app-see-auto-bonus-document [url]="pdfUrl" *ngIf="activetionCarBonusSeeDocument()"></app-see-auto-bonus-document>

<app-car-bonus-schedule *ngIf="activetionCarBonusSchedule()"></app-car-bonus-schedule>
<app-proforma *ngIf="activetionCarBonusProforma()"></app-proforma>
</div>


