<header class="header-content card">
    <div class="header-left">
        <button class="toggle-button" (click)="onToggleSidebar()">
            <i class="pi pi-bars"></i>
        </button>
        <img src="assets/logos/Inclub.svg" alt="Inclub Logo" class="logo">
        <h1 class="title">Mi cuenta</h1>
    </div>
    <button class="btn btn-secondary " type="button" (click)="onLogout()">
        <i class="pi pi-sign-out"></i>
        <p class="btn-text">Cerrar sesión</p>
    </button>
</header>