<div class="d-flex flex-column gap-3 w-100">
	
	<div class="d-flex flex-column flex-md-row gap-4 w-100">
		<!-- Tipo de usuario: Activo -->
		<div class="col-md-4"> <!-- Ocupa 1/3 del ancho de la vista -->
		  <h1 class="fs-6 fw-medium m-0 text-black pb-2">Tipo de usuario:</h1>
		  <app-select
			class="w-100"
			placeholder="Selecciona uno"
			[form]="form"
			controlName="typeUser"
			[options]="typeUserOptions"
		  ></app-select>
		</div>
	  </div>
	  



	<app-table
		class="w-100"
		[headers]="['Nombre y Apellido', 'Fecha de registro', 'Estado']"
		[hasCheckbox]="false"
		[customRows]="true"
		[minWidth]="1000"
		[loading]="loading"
		[hasData]="filteredData.length > 0"
	>
		<tr class="w-100 d-flex flex-row align-items-center" *ngFor="let d of filteredData; let i = index">
			<th class="table__first__v1 d-flex flex-row justify-content-center align-items-center">
				<div class="form-check d-flex flex-row align-items-center gap-2">
					<input
						class="form-check-input cursor-pointer"
						style="width: 18px; height: 18px"
						type="radio"
						[value]="d.id"
						[name]="'t-a-t-p-group'"
						[formControl]="selected"
						[id]="'t-a-t-p-list-' + i"
						(change)="updateBody(d.id)"
					/>
					<label class="form-check-label fw-normal cl-muted m-0 mt-1" [for]="'t-a-t-p-list-' + i">
						{{ i + 1 }}
					</label>
				</div>
			</th>
			<!-- 			<td class="fs-6 py-2 px-2 w-100 text-center">{{ i + 1 }} </td>
 -->
			<td class="fs-6 py-2 px-2 w-100 text-center">{{ d.fullName }}</td>
			<!-- 						<td class="fs-6 py-2 px-2 w-100 text-center" >{{ d.creationDate |date:'dd/MM/yyyy'}}</td>
 -->
			<td class="fs-6 py-2 px-2 w-100 text-center">{{ d.creationDate | date : 'dd/MM/yyyy' }}</td>
			<td class="fs-6 py-2 px-2 w-100 text-center">
				<div
					class="w-auto text-success rounded py-1 px-3"
					[ngStyle]="{
						'background-color': getTransparentColor(d.stateColor),
						
					}"
				>
					<span [ngStyle]="{ color: getSolidColor(d.stateColor) }">{{ d.stateContent }}</span>
				</div>
			</td>
		</tr>
	</app-table>
</div>
