.input-reference_link input{
    background-color: #E9ECEF;
    border-radius: 4px;
    border: 1px solid #D2CECE;
    color: #B9B9B9;
}

.input-reference_link button{
    display: flex;
    align-items: center;
}
.input-reference_link .btn:hover{
    background-color: rgb(254 124 4 / 80%);
    color: #fff;
}

.input-reference_link .mat-icon{
    height: 18px;
    width: 18px;
    font-size: 18px;
    margin-right: 5px;
}

.nav-link.facebook{
    background-color: #3B5998;
}

.nav-link.twitter{
    background-color: #55ACEE;
}

.nav-link.linkedln{
    background-color: #007BB5;
}