.toggle-container {
	display: flex;
	border: 1px solid #ededed;
	background-color: #ffffff;
	border-radius: 16px;
	overflow: hidden;
	width: 100%;
}

.toggle-button {
	border: none;
	padding: 8px 16px;
	background-color: #ffffff;
	color: #363a3e;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s;
	width: 100%;
}

.toggle-button.active {
	color: #fe7c04;
	background-color: white;
	border: 1px solid #fe7c04;
	border-radius: 16px;
}

.toggle-button:not(.active):hover {
	color: #fe7c04;
}

.custom-card {
	background-color: #f7f3f3; /* Fondo del card */
	border-radius: 8px;
	display: inline-flex; /* Hace que el fondo se ajuste al contenido */
	align-items: center;
	padding: 8px 12px; /* Espaciado reducido */
}

.icon-container {
	width: 28px; /* Ajustamos el tamaño del icono */
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.05); /* Fondo con transparencia */
	border-radius: 50%;
}

.icon-img {
	width: 16px; /* Tamaño del icono */
	height: auto;
}

.title-text {
	font-size: 12px;
	font-weight: 600;
}

.points {
	font-size: 16px;
	font-weight: 700;
}

.pts {
	font-size: 14px;
	font-weight: 700;
	margin-left: 2px;
}

.portfolio-text {
	font-size: 10px;
	opacity: 0.8;
}
