<div class="d-flex flex-column align-items-center w-100 gap-2 p-3">
	<div class="d-flex flex-column align-items-start justify-content-start w-100 gap-4">
		<div class="icon">
			<img src="assets/icons/Icon.svg" alt="Icono Info" width="48" height="48" />
		</div>
		<h4 class="text-deepblue fw-bold">¡Atención!</h4>
	</div>
	<div>
		<p>
			<span class="text-deepblue">De acuerdo con nuestras políticas, su cuenta </span>
			<span class="fw-bold mb-1 fs-6">ha sido liquidada </span>
			<span class="text-deepblue">al haber </span>
			<span class="fw-bold mb-1 fs-6">acumulado 12 meses </span>
			<span class="text-deepblue">de cuotas sin pagar.</span>
		</p>
		<p>
			<span class="text-deepblue">Lamentamos informarle que, como consecuencia de esta liquidación, ha perdido la
				red de patrocinio que tenía activa.</span>
		</p>
		<p>
			<span class="text-deepblue">Si desea </span>
			<span class="fw-bold mb-1 fs-6">reactivar </span>
			<span class="text-deepblue">su cuenta y acceder nuevamente a nuestros beneficios, será necesario </span>
			<span class="fw-bold mb-1 fs-6">regularizar la totalidad de los pagos pendientes. </span>
			<span class="text-deepblue">Una vez hecho esto, podrá recuperar su acceso, aunque no será posible
				restablecer la red de patrocinio anterior.</span>
	</div>

	<hr class="w-100">

	<div class="d-flex justify-content-center w-100">
		<button class="btn btn-secondary col-4" (click)="onClick()">Pagar</button>
	</div>
</div>