<div class="d-flex flex-row gap-3 rounded w-100 box-cycle-weekly mt-3">
  <div class="d-flex flex-column gap-2 rounded w-100 box-cycle-weekly mt-3"
       [class.border]="!withoutBox"
       [class.p-3]="!withoutBox"
       [class.p-lg-4]="!withoutBox">
    <div class="d-flex flex-row ">
      <h3 class="m-0  fw-bold box-cycle-weekly__title">Cantidad de Socio</h3>
      <h3 class="cl-muted fs-12 fw-bold ">15/ 04/23, 11:30PM</h3>
    </div>

    <article class="d-flex flex-column align-items-center gap-1">
      <div class="d-flex gap-2 align-items-center">
        <mat-icon fontIcon="supervisor_account" class="text-secondary"></mat-icon>
        <h5 class="fs-6 text-black fw-medium m-0">2.000</h5>
      </div>
    </article>
  </div>

  <div class="d-flex flex-column gap-2 rounded w-100 box-cycle-weekly mt-3"
       [class.border]="!withoutBox"
       [class.p-3]="!withoutBox"
       [class.p-lg-4]="!withoutBox">
    <div class="d-flex flex-row">
      <h3 class="m-0 fw-bold box-cycle-weekly__title">Bonificación Total</h3>
      <h3 class="cl-muted fs-12 fw-bold">15/ 04/23, 11:30PM</h3>
    </div>

    <article class="d-flex flex-column align-items-center gap-1">
      <div class="d-flex gap-2 align-items-center">
        <mat-icon fontIcon="star" class="text-secondary"></mat-icon>
        <h5 class="fs-6 text-black fw-medium m-0">$4.000</h5>
      </div>
    </article>
  </div>

  <div class="d-flex flex-column gap-2 rounded w-100 box-cycle-weekly mt-3"
       [class.border]="!withoutBox"
       [class.p-3]="!withoutBox"
       [class.p-lg-4]="!withoutBox">
    <div class="d-flex flex-row">
      <h3 class="m-0 fw-bold box-cycle-weekly__title">Rango Máximo</h3>
      <h3 class="cl-muted fs-12 fw-bold">15/ 04/23, 11:30PM</h3>
    </div>

    <article class="d-flex flex-column align-items-center gap-1">
      <div class="d-flex gap-2 align-items-center">
        <img src="assets/icons/Safiro.svg"
             alt="Safiro" />
        <h5 class="fs-6 text-black fw-medium m-0">Rango Zafiro</h5>
      </div>
    </article>
  </div>
</div>