.selected {
    border: 2px solid #19809E;
    box-shadow: 0 0 10px rgba(25, 128, 158, 0.3);
  }
  
  .svg-blue {
    filter: brightness(0) saturate(100%) invert(30%) sepia(95%) saturate(3200%) hue-rotate(170deg) brightness(92%) contrast(90%);
  }
  