<div class="d-flex flex-column gap-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <button class="btn btn-secondary px-3 fs-12"
            style="height: fit-content"
            [disabled]="disabledUser"
            (click)="onClickBtn()">
      Detalle de registro
    </button>
    <app-pagination [totalPages]="table.totalPages"
                    [currentPage]="table.currentPage"
                    (changePage)="tableService.changePage($event, id)"></app-pagination>
  </div>

  <app-table class="w-100"
             [headers]="['F. Afiliación', 'Nombres y apellidos', 'Código', 'Estado', 'Rango']"
             [hasCheckbox]="false"
             [customRows]="true">
    <tr class="w-100 d-flex flex-row"
        *ngFor="let d of table.data; let i = index">
      <th class="table__first d-flex flex-row justify-content-center align-items-center">
        <div class="form-check d-flex flex-row align-items-center gap-2">
          <input class="form-check-input cursor-pointer"
                 style="width: 18px; height: 18px"
                 type="radio"
                 [value]="d.id"
                 name="table-account-organization-select"
                 [formControl]="selected"
                 [id]="'t-a-t-p-list-' + i" />
          <label class="form-check-label fw-normal cl-muted m-0 mt-1"
                 [for]="'t-a-t-p-list-' + d.id">{{ d.id }}</label>
        </div>
      </th>
      <td class="fs-6 py-4 px-4 w-100 text-center">
        {{ d.afilatitonDate | date : 'dd/MM/yyyy' }}
      </td>
      <td class="fs-6 py-4 px-4 w-100 text-center">{{ d.fullname }}</td>
      <td class="fs-6 py-4 px-4 w-100 text-center">{{ d.code }}</td>
      <td class="w-100 d-flex flex-row justify-content-center align-items-center">
        <span class="w-auto text-success rounded py-1 px-3"
              *ngIf="d.active"
              style="background-color: #16a34a33">
          Activo
        </span>
        <span class="w-auto text-danger rounded py-1 px-3"
              *ngIf="!d.active"
              style="background-color: #a3161633">
          Inactivo
        </span>
      </td>
      <td class="fs-6 py-4 px-4 w-100 text-center">{{ d.range }}</td>
    </tr>
  </app-table>
</div>