<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Confirmado - InClub</title>
</head>

<body style="margin:0; padding:0; background-color:#f4f4f4; font-family:Arial,sans-serif;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f4f4f4" style="padding: 20px;">
    <tr>
        <td align="center">
            <!--Inciio de Conteinter 1-->
            <table cellpadding="0" cellspacing="0" border="0"
                   style="border-radius:8px; overflow:hidden; max-width:547px;">
                <!-- Inicio de Header -->
                <tr>
                    <td align="center" style="padding:0;">
                        <img src="https://s3.us-east-2.amazonaws.com/backoffice.documents/bo-imagenes/Keola_correo.jpeg"
                             alt="InClub Banner" style="width:100%; height:115px; display:block; object-fit:cover;">
                    </td>
                </tr>
                <!-- Fin de Header -->

                <!-- Inicio deContent -->
                <tr>
                    <td
                            style="padding:40px; background:#ffffff; text-align:left; color:#333333; font-weight:400; word-break:break-word; line-height:1.3;">
                        <p style="text-align:center; font-size:16px; line-height:1.5; margin:0; color:#384860;margin-bottom:8px ">
                            Hola {{userDestino}} </p>
                        <p style="text-align:center;font-size:16px; line-height:1.5; margin-bottom:16px; color:#384860;">
                            Tu solicitud ha sido realizada. A continuación, te presentamos la constancia de tu retiro a
                            cuenta bancaria.
                        </p>

                        <table style="width: 100%;background:#F9F9F9;padding:24px;border-radius:8px" border="0"
                               cellpadding="5" cellspacing="0">
                            <tr >
                                <td style="padding-bottom:20px">
                                    <h4 style="margin:0">Retiro a cuenta bancaria</h4>
                                    <h4 style="margin:0">N° de operación {{numOperacion}}</h4>
                                    <h5 style="margin:0; color:#747272"> {{fechaSolicitud}}</h5>

                                </td>

                            </tr>
                            <tbody>

                            <tr>
                                <td>Cuenta de origen:</td>
                                <td style="text-align:right;">Wallet</td>
                            </tr>

                            <tr>
                                <td style="border-bottom: 1px solid #E6E6E6;"></td>
                                <td style="border-bottom: 1px solid #E6E6E6;text-align:right;">
                                    {{userFullName}}
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid #E6E6E6;">Monto enviado:</td>
                                <td style="text-align:right;border-bottom: 1px solid #E6E6E6;">$ {{mount}}</td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid #E6E6E6;">Total cargado:</td>
                                <td style="text-align:right;border-bottom: 1px solid #E6E6E6;">$ {{mount}}</td>
                            </tr>
                            <tr>
                                <td>Cuenta de destino</td>
                                <td style="text-align:right;">{{userDestino}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align:right;">{{cci}}</td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px solid #E6E6E6;"></td>
                                <td style="text-align:right;border-bottom: 1px solid #E6E6E6;">{{nameBank}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="margin:0 ; padding:0;text-align:center;font-size:16px; line-height:1.5; margin-top:16px; color:#384860;">
                            Muchas gracias.
                        </p>
                        <p style="margin:0 ; padding:0;text-align:center;font-size:16px; line-height:1.5; color:#384860;">
                            Nota: Mensaje automático, por favor no responder.
                        </p>
                    </td>

                    <!-- Fin de Content -->
            </table>
            <!--Fin de Conteinter 1-->

            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="height:16px; background:#f4f4f4;"></td>
                </tr>
            </table>
            <!-- Inicio Aviso de Conficionalidad--->
            <table cellpadding="0" cellspacing="0" border="0"
                   style="border-radius:8px; overflow:hidden; max-width:547px;">
                <!-- Help Section -->
                <tr>
                    <td style="padding:24px 40px; background:#ffffff;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <h3 style="font-size:18px; margin:0 0 8px 0; color:#121A26;">
                                        Aviso de Confidencialidad
                                    </h3>
                                    <p style="font-size:14px; line-height:1.6; margin:0; color:#384860;">
                                        Este correo electrónico y/o el material adjunto es para uso exclusivo de la
                                        persona o entidad a la que expresamente se la ha enviado, y puede
                                        contener información confidencial o material privilegiado. Si usted no es el
                                        destinatario legítimo del mismos, por favor repórtelo inmediatamente al
                                        remitente del correo y bórrelo.
                                    </p>
                                    <p style="font-size:14px; line-height:1.6; margin:0; color:#384860;">
                                        Cualquier revisión, retrasmisión, difusión o cualquier otro uso de este
                                        correo, por personas o entidades distintas a las del destinatario legítimo,
                                        queda expresamente prohibido. Este correo electrónico no pretende ni
                                        debe ser considerado como constitutivo de ninguna relación legal,
                                        contractual o de otra índole similar, en consecuencia, no genera obligación
                                        alguna a cargo de su emisor o su representada.
                                    </p>
                                    <p style="font-size:14px; line-height:1.6; margin:0; color:#384860;">
                                        En tal sentido, nada de lo señalado en esta comunicación o en sus anexos
                                        podrá ser interpretado como una recomendación sobre los riesgos o
                                        ventajas económicas, legales, contables o tributarias, o sobre las
                                        consecuencias de realizar o no determinada transacción.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
            </table>
            <!-- Fin Aviso de Conficionalidad--->
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="height:16px; background:#f4f4f4;"></td>
                </tr>
            </table>
            <!-- Help Section -->
            <table cellpadding="0" cellspacing="0" border="0"
                   style="border-radius:8px; overflow:hidden; max-width:547px;">
                <tr>
                    <td style="padding:24px 40px; background:#ffffff;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <h3 style="font-size:18px; margin:0 0 8px 0; color:#121A26;">
                                        ¿Necesitas ayuda?
                                    </h3>
                                    <p style="font-size:14px; line-height:1.6; margin:0; color:#384860;">
                                        Si tiene alguna pregunta, inquietud o necesita más información sobre los
                                        próximos pasos, no dude en comunicarse con nosotros a
                                        <a href="mailto:soporteinclub@gmail.com"
                                           style="color:#007bff; text-decoration:underline;">
                                            soporteinclub@gmail.com
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td style="background:#f8f8f8; padding:15px; text-align:center;">
                        <p style="font-size:14px; color:#666666; margin:0;">
                            &copy;{{year}} InClub. Todos los derechos reservados.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>