<div class="w-100 d-flex flex-column p-4 gap-3">
	<div class="w-100 d-flex flex-row justify-content-between">
		<h5 class="fw-medium fs-6">Principal</h5>
		<mat-icon fontIcon="supervised_user_circle" class="text-secondary"></mat-icon>
	</div>
	<div class="w-100 px-4 py-2 d-flex flex-row justify-content-between align-items-center border rounded">
		<div class="d-flex flex-column">
			<span class="fw-medium">$1200</span>
			<span class="cl-muted">Bonificación</span>
		</div>
		<mat-icon fontIcon="star" class="text-secondary"></mat-icon>
	</div>
	<div class="w-100 px-4 py-2 d-flex flex-row justify-content-between align-items-center border rounded">
		<div class="d-flex flex-column">
			<span class="fw-medium">1000ptos</span>
			<span class="cl-muted">Volumen personal</span>
		</div>
		<mat-icon fontIcon="star" class="text-secondary"></mat-icon>
	</div>
	<div class="w-100 px-4 py-2 d-flex flex-row justify-content-between align-items-center border rounded">
		<div class="d-flex flex-column">
			<span class="fw-medium">500</span>
			<span class="cl-muted">Personas en red</span>
		</div>
		<mat-icon fontIcon="supervisor_account" class="text-secondary"></mat-icon>
	</div>
</div>
