<label [for]="name" class="fs-6 mb-2 cl-muted" *ngIf="label">{{ label }}</label>

<div
	class="input position-relative"
	[class.input--disabled]="disabled"
	[class.border-danger]="errors && !disabled"
	#input
>
	<mat-icon
		*ngIf="iconLeft"
		[fontIcon]="iconLeft"
		class="icon"
		[class.text-danger]="errors && !disabled"
	></mat-icon>

	<input
		type="text"
		[placeholder]="placeholder"
		[attr.aria-label]="label"
		[disabled]="disabled"
		[class.text-danger]="errors && !disabled"
		[formControlName]="name"
		[name]="name"
		[id]="name"
		*ngIf="!control"
		autocomplete="off"
		(focus)="showList = true"
		(blur)="onBlur()"
	/>
	<input
		type="text"
		[placeholder]="placeholder"
		[attr.aria-label]="label"
		[disabled]="disabled"
		[class.text-danger]="errors && !disabled"
		[formControl]="control"
		[name]="name"
		[id]="name"
		*ngIf="control"
		autocomplete="off"
		(focus)="showList = true"
		(blur)="onBlur()"
	/>
	<mat-icon
		*ngIf="iconRigth"
		[fontIcon]="iconRigth"
		class="icon"
		[class.text-danger]="errors && !disabled"
	></mat-icon>
</div>

<app-autocomplete-menu
	class="select-list shadow-lg w-100 h-auto"
	[class.d-none]="!showList"
	[control]="formControl"
	[input]="input"
	[options]="options"
	(onClose)="showList = false"
></app-autocomplete-menu>

<div
	class="d-flex flex-row align-items-center gap-2 mt-3 ms-3"
	[class.cl-muted]="!disabled"
	[class.cl-disabled]="disabled"
	[class.text-danger]="errors && !disabled"
	*ngIf="helper"
>
	<mat-icon fontIcon="info" class="fs-5" style="width: 19px; height: 19px"></mat-icon>
	<span class="fs-6 m-0">This is the description area</span>
</div>
