.family-font {
	font-family: 'Roboto';
}

.size-btnn {
	width: inherit;
}

.icon-align {
	align-items: center;
	margin-right: 20px;
}

.size-alert {
	font-size: 13px !important;
}

.mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
	width: 20%;
}
