modal-header {
    border: none;
    align-items: start !important;
    padding: 0px !important;
}

.title {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    color: #181D27;
    padding-top: 10px;
    margin: 0;
}

.subTitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    color: #535862;
}

.close-button {
    cursor: pointer;
    border: none;
    background: none;
    width: 40px;
    height: 40px;

    img,
    svg {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    &:hover {
        color: #495057;
    }
}

/*Botones */
.modal-footer {
    justify-content: center;
    display: flex;
}

.container-body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.cancelar {
    width: 170px;
    height: 44px;
    font-family: 'Product Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    color: #414651;
    box-shadow: 0px 1px 2px 0px #0A0D120D;
    background: #FFFFFF;
    border: 1px solid #D5D7DA;
    gap: 8px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    border-radius: 24px;
    border-width: 1px;

}

.rechazar {
    width: 170px;
    height: 44px;
    gap: 8px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    border-radius: 24px;
    background: #fe0404;
    box-shadow: 0px 1px 2px 0px #0A0D120D;
    font-family: 'Product Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    border: solid 1px #fe0404;
}