<label [for]="name" class="fs-6 mb-2 cl-muted" [ngClass]="{ 'custom-white': isRed }" *ngIf="label">{{
	label
}}</label>

@switch (type) { @case ("text") {
<div>
	<span
		[ngClass]="{
			'p-input-icon-left': isIconLeft && iconName,
			'p-input-icon-right': isIconRight && iconName
		}"
	>
		@if (isIconLeft && iconName) {
		<div class="asdsaf">
			<img [src]="getImage" style="width: 30px; padding-left: 10px" />
			<i class="pi" [ngClass]="iconName"></i>
			<label class="ps-2">{{ getCode }}</label>
			<label class="ps-2"> | </label>
		</div>
		} @if (isIconRight && iconName) {
		<i class="pi" [ngClass]="iconName" style="cursor: pointer" (click)="handleClickIconRight($event)"></i>
		}
		<input
			type="text"
			pInputText
			[placeholder]="placeholder"
			[formControl]="form.get(this.controlName)"
			[ngClass]="{ 'text-red': isRed }"
			(focusout)="handleFocusOut($event)"
		/>
		<div class="d-flex justify-content-center align-items-center margin-negative" *ngIf="isLoading">
			<p-progressSpinner
				[style]="{ width: '1.5rem', height: '1rem' }"
				strokeWidth="8"
				fill="transparent"
				animationDuration=".5s"
			></p-progressSpinner>
		</div>
	</span>
</div>
} @case ("number") {
<p-inputNumber
	mode="decimal"
	inputId="withoutgrouping"
	[placeholder]="placeholder"
	[useGrouping]="false"
	[formControl]="form.get(this.controlName)"
	[showButtons]="buttons"
	buttonLayout="stacked"
	class="custom-input-number"
	[max]="maxValue"
></p-inputNumber>

} @case ("dollar") {
<p-inputNumber
	inputId="currency-us"
	[placeholder]="placeholder"
	[formControl]="form.get(this.controlName)"
	mode="currency"
	currency="USD"
	locale="en-US"
></p-inputNumber>
} @case ("password") {
	<p-password
		[placeholder]="placeholder"
		[formControl]="form.get(this.controlName)"
		[feedback]="false"
		[ngClass]="{ 'text-red': isRed }"

		[toggleMask]="true"
		class="password"
	/>

} }

<app-control-error [form]="form" [controlName]="controlName"> </app-control-error>
