<div class="p-4 card px-3 px-md-4 card-border-none">
    <h1 class="fs-5 mb-24">
        <a routerLink="/profile/partner/communicated" class="nav-link cl-sorbus align-items-center d-flex">
            <mat-icon class="me-2">arrow_back</mat-icon>
            <span>Volver</span>
        </a>
    </h1>
    <div>
        <h2 class="fs-3 text-dark fw-medium mb-2">
            Presentación Negocio InResorts
        </h2>
        <div class="fs-6 text-dark mb-4">El Instituto Nacional de Estadística e Informática (INEI) en el marco de su política de transparencia y de servicio a los usuarios y la sociedad civil</div>
        <div class="img-cover mb-3">
            <img class="w-100" src="https://staticv1.inclub.site/images/img-06.png" alt="" srcset="">
        </div>
        <p class="fs-6 text-light-emphasis pt-3">
            El Instituto Nacional de Estadística e Informática (INEI) en el marco de su política de transparencia y de servicio a los usuarios y la sociedad civil, pone a disposición 198 Bases de Datos de las Investigaciones Estadísticas, a las cuales se puede acceder mediante un Catálogo de Base de Datos, documento virtual interactivo que permite ingresar a las diversas bases de datos obtenidas de las investigaciones estadísticas que realiza la institución y que son presentadas en diferentes formatos para facilitar su uso y explotación; así como, otros servicios que brinda en línea.
        </p>
        <p class="fs-6 text-light-emphasis pt-1">
            El Instituto Nacional de Estadística e Informática (INEI) en el marco de su política de transparencia y de servicio a los usuarios y la sociedad civil, pone a disposición 198 Bases de Datos de las Investigaciones Estadísticas, a las cuales se puede acceder mediante un Catálogo de Base de Datos, documento virtual interactivo que permite ingresar a las diversas bases de datos obtenidas de las investigaciones estadísticas que realiza la institución y que son presentadas en diferentes formatos para facilitar su uso y explotación; así como, otros servicios que brinda en línea.
        </p>
        <p class="fs-6 text-light-emphasis pt-1">
            El Instituto Nacional de Estadística e Informática (INEI) en el marco de su política de transparencia y de servicio a los usuarios y la sociedad civil, pone a disposición 198 Bases de Datos de las Investigaciones Estadísticas, a las cuales se puede acceder mediante un Catálogo de Base de Datos, documento virtual interactivo que permite ingresar a las diversas bases de datos obtenidas de las investigaciones estadísticas que realiza la institución y que son presentadas en diferentes formatos para facilitar su uso y explotación; así como, otros servicios que brinda en línea.
        </p>
    </div>
</div>