<app-modal [title]="''" [hideCloseButton]="true">
    <i class="bi bi-x-lg custom-position" (click)="closeModal()"></i>
    <div class="d-flex flex-column align-items-center justify-content-center gap-6 p-1 position-relative">
        <div class="text-center w-100">
            <img src="assets/media/svg/retiro/check-true.svg" alt="remember">
        </div>
        <div class="text-center">
            <p class="text-center">
                Notificados correctamente
            </p>
        </div>
    </div>
</app-modal>