.container-reset-password {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	padding: 0.875rem 1.25rem;
}

.bg-reset-pass {
	background: rgba(11, 58, 71, 1);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/logos/reset-pass-background.webp') no-repeat center center/cover;
		opacity: 0.4;
	}

	&>form {
		position: relative;
		z-index: 1;
	}
}

p {
	margin: 0;
}

button.btn.btn-secondary {
	width: 10.125rem;

	@media screen and (max-width: 450px) {
		width: 100%;
	}
}

button.btn.btn-secondary:disabled {
	background-color: #EDEDED;
	border-color: #EDEDED;
	color: #ACAFB3;
	opacity: 1;
	cursor: not-allowed;
}

.methods-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	gap: 1rem;

	@media screen and (max-width: 450px) {
		flex-direction: column;

		>* {
			width: 100%;
		}
	}
}

::ng-deep .p-stepper.my-hidden-header .p-stepper-nav {
	display: none;
}

:host ::ng-deep .p-stepper-panels {
	background: transparent;
	margin: 0;
	padding: 0;
}

.btn-back {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1.25rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
	line-height: 1;
	transition: all 0.3s ease-in-out;

	i {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: inherit;
		line-height: 1;
		vertical-align: middle;
		position: relative;
		top: 1px;
	}

	&:hover {
		color: #F0692C;
		transform: scale(1.01);
		font-weight: 600;
	}
}

.content-form {
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap: 2rem;
}

.spinner-icon {
	width: 5rem;
	height: 5rem;
	mask: url('/assets/icons/ring-resize.svg') no-repeat center;
	-webkit-mask: url('/assets/icons/ring-resize.svg') no-repeat center;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
	background-color: #19809E;

	@media screen and (max-width: 450px) {
		width: 3rem;
		height: 3rem;
	}
}