<div class="container-reset-password bg-reset-pass">
	<form [formGroup]="recoveryForm">

		<p-stepper orientation="horizontal" class="my-hidden-header">
			<p-stepperPanel>
				<ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
					<div class="content-form" formGroupName="methodForm" [@stepTransition]>
						<button class="btn-back" (click)="goLogin()" type="button">
							<i class="pi pi-arrow-left"></i>
							Volver al inicio de sesión
						</button>
						<app-recovery-content [recoveryContent]="steps.CHOOSE_METHOD">
							<div class="methods-container">
								@for (method of methods; track method) {
									<app-recovery-method-button
										[form]="recoveryForm.get('methodForm')"
										controlName="method"
										[method]="method"
									/>
								}
							</div>
						</app-recovery-content>
						<button
							class="btn btn-secondary"
							type="submit"
							[disabled]="recoveryForm.get('methodForm').invalid"
							(click)="nextCallback.emit()"
						>
							Continuar
						</button>
					</div>
				</ng-template>
			</p-stepperPanel>

			<p-stepperPanel>
				<ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
					let-index="index">
					<div class="content-form" formGroupName="emailForm" [@stepTransition]>
						<button class="btn-back" (click)="prevCallback.emit()" type="button">
							<i class="pi pi-arrow-left"></i>
							Volver
						</button>
						<app-recovery-content [recoveryContent]="steps.ENTER_EMAIL">
							<app-email-input
								[form]="recoveryForm.get('emailForm')"
								controlName="email"
								(writeEmail)="onEmailWritten($event)"
							/>
						</app-recovery-content>
						<button
							class="btn btn-secondary"
							type="submit"
							[disabled]="recoveryForm.get('emailForm').invalid"
							(click)="sendRecoveryRequest(nextCallback)"
						>
							Continuar
						</button>
					</div>
				</ng-template>
			</p-stepperPanel>

			<p-stepperPanel>
				<ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
					let-index="index">
					<div class="content-form" formGroupName="codeForm" [@stepTransition]>
						<button class="btn-back" (click)="prevCallback.emit()" type="button">
							<i class="pi pi-arrow-left"></i>
							Volver
						</button>
						<app-recovery-content [recoveryContent]="VALIDATE_TOKEN_STEP">
							<app-token-input-otp
								[form]="recoveryForm.get('codeForm')"
								controlName="token"
								[remainingTime]="remainingTime"
								(requestNewCode)="onRequestNewCode()"
							/>
						</app-recovery-content>
						<button
							class="btn btn-secondary"
							type="submit"
							[disabled]="recoveryForm.get('codeForm').invalid"
							(click)="validateToken(nextCallback)"
						>
							Verificar
						</button>
					</div>
				</ng-template>
			</p-stepperPanel>

			<p-stepperPanel>
				<ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
					let-index="index">
					<div class="content-form" formGroupName="changePasswordForm" [@stepTransition]>
						<button class="btn-back" (click)="prevCallback.emit()" type="button">
							<i class="pi pi-arrow-left"></i>
							Volver
						</button>
						<app-recovery-content [recoveryContent]="steps.RESET_PASSWORD">
							<app-change-password
								[form]="recoveryForm.get('changePasswordForm')"
							/>
						</app-recovery-content>
						<button
							class="btn btn-secondary"
							type="submit"
							[disabled]="recoveryForm.get('changePasswordForm').invalid"
							(click)="recoverPassword()"
						>
							Restablecer
						</button>
					</div>
				</ng-template>
			</p-stepperPanel>

		</p-stepper>
	</form>
</div>

<div class="custom-spinner-overlay" [class.active]="loadingRecovery">
    <div class="spinner-icon"></div>
</div>