<div class="modal-container">
    <div class="modal-header align-items-start">
        <div>
            <img src="assets/media/svg/retiro/rechase.svg" alt="modal-icon" class="header-icon">
            <p class="title">Retiro rechazado</p>
            <p class="subTitle">Enviaremos el mensaje por correo al usuario.</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex">
            <button class="rechazar" style="margin-left: 4px;" (click)="instanceModal.close()">Entiendo</button>
        </div>
    </div>
</div>