<div>
	<form action="">
		<app-input-file />
		<div class="d-flex flex-column flex-md-row gap-6 my-5">
			<app-input
				label="Ingrese el nombre de archivo:"
				placeholder="Nombre del archivo"
				[formGroup]="form"
				controlName="search"
				class="w-100 flex-grow-1 custom-input"
				helper="Antes de guardar el archivo, seleccione un banco asociado."
			></app-input>

			<app-select
				label="Nombre del banco:"
				placeholder="Selecciona un opción"
				[options]="bankOpt"
				[formGroup]="form"
				controlName="bank"
				class="w-100"
			></app-select>
		</div>

		<div class="d-flex justify-content-end gap-6">
			<div class="mt-0">
				<button type="button" class="btn btn-outline-secondary" (click)="onSave()">Guardar</button>
			</div>
		</div>
	</form>

	<table-pagination textBtn="Refrescar Data" (clickBtn)="onUpload()" class="w-100 d-block mt-4" />

	<app-common-table
		class="w-100 d-block mt-4"
		[headers]="table.headers"
		[checkedAll]="table.checkedAll"
		[headersMinWidth]="table.headersMinWidth"
		[noCheckboxes]="table.noCheckBoxes"
		[firstEmpty]="true"
		(onCheckedAll)="table.changeCheckedAll($event)"
	>
		<tr class="w-100 d-flex py-2 align-items-center" *ngFor="let item of table.data; let i = index">
			<td class="w-40px d-flex justify-content-center">
				<div class="form-check-sm form-check-custom form-check-solid">
					<input
						class="form-check-input cursor-pointer"
						type="radio"
						name="file-upload-item-radio"
						[value]="item.id"
						[(ngModel)]="selectedRowId"
					/>
				</div>
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ i + 1 }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.date }}</td>
			<td class="w-100 text-gray-900 text-center fs-6" style="word-break: break-all;">{{ item.userName }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.description }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">$ {{ item.amount.toFixed(2) }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">$ {{ item.balance.toFixed(2) }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.branchAgency }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.operationNumber }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.operationTime }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.utc }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.reference }}</td>
		</tr>
	</app-common-table>
</div>
