<div class="fw-bold">Datos del registro</div>

<!-- <div class="row py-2"
     style="background-color: #f9fcff;">
  <div class="col-6 text-muted">DNI</div>
  <div class="col-6 text-end text-muted">{{data.userName}}</div>
</div> -->
<div class="row py-2"
     style="background-color: #f9fcff;">
  <div class="col-6 text-muted">Nombre y Apellido</div>
  <div class="col-6 text-end text-muted">{{data.fullName}}</div>
</div>
<!-- <div class="row py-2">
  <div class="col-6 text-muted">Nombre y Apellido</div>
  <div class="col-6 text-end text-muted">{{data.fullName}}</div>
</div> -->
<div class="line bg-black opacity-50"></div>

<div class="mt-3">
  <span class="fw-bold mt-3">Estadísticas del socio</span>
</div>
<div class="row py-2"
     style="background-color: #f9fcff;">
  <div class="col-6 text-muted">Fecha de actualización</div>
  <div class="col-6 text-end text-muted">{{currentDateTime}}</div>
</div>
<div class="row py-2">
  <div class="col-6 text-muted">Volumen personal</div>
  <div class="col-6 text-end text-muted">{{pointsData.puntajeDeLaMembresia}} pts</div>
</div>
<div class="row py-2"
     style="background-color: #f9fcff;">
  <div class="col-6 text-muted">Volumen grupal</div>
  <div class="col-6 text-end text-muted">{{pointsData.compuestoTotal}} pts</div>
</div>
<div class="row py-2">
  <div class="col-6 text-muted">Personas en tu red</div>
  <div class="col-6 text-end text-muted">{{pointsData.numberOfUsers}} pts</div>
</div>

<div class="line bg-black opacity-50"></div>

<div class="mt-3">
  <span class="fw-bold mt-3">Fechas de ciclo semanal</span>
</div>
<div class="row py-2"
     style="background-color: #f9fcff;">
  <div class="col-6 text-muted">Fecha de inicio de ciclo</div>
  <div class="col-6 text-end text-muted"> {{initialDate}}</div>
</div>
<div class="row py-2">
  <div class="col-6 text-muted">Fecha de finilización de ciclo</div>
  <div class="col-6 text-end text-muted">{{endDate}}</div>
</div>
<div class="row py-2"
     style="background-color: #f9fcff;">
  <div class="col-6 text-muted">Estado</div>
  <div class="col-6 text-end text-muted">
    <article class="d-flex flex-column align-items-end gap-1">
      <span class="rounded m-0"
            [ngStyle]="{ 
              'padding': '6px 24px', 
              'background-color': statusColor.backgroundColor, 
              'color': statusColor.textColor 
            }">
        {{ userStatus }}
      </span>
    </article>

  </div>
</div>