<div class="modal-container custom-modal p-3 mx-auto">
    <div class="modal-body chat-body mt-4">
        <div class="message assistant d-flex align-items-start">
            <img src="assets/icons/Ellipse.svg" class="bot-icon me-2" />
            <div class="d-flex flex-column align-items-start p-3">
                <span class="fw-bold text-primary">Assistant</span>
                <div class="text mt-2">
                    <p>
                        ¡Hola, Alexandra Vera! Soy el ASISTENTE VIRTUAL de Inclub. Estoy muy contento de poder ayudarte.
                    </p>
                </div>
                <div class="text mt-2">
                    <p>Para comenzar, elija la opción</p>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center gap-2 mt-2 w-100">
                    <button class="btn btn-outline-secondary" type="button" (click)="selectOption('Asistente legal')">
                        Asistente legal
                    </button>
                    <button class="btn btn-secondary" type="button" (click)="selectOption('Soporte de Inclub')">
                        Soporte de Inclub
                    </button>
                </div>
                <div class="text-muted mt-2 small text-start w-100">{{ currentTime }}</div>
            </div>
        </div>

        <div *ngIf="selectedOption" class="message user mt-3 text-end">
            <div class="text user-text text-start">
                {{ selectedOption }}
            </div>
            <div class="text-muted mt-1 small text-start">{{ currentTime }}</div>
        </div>

        <div *ngIf="loadingResponse" class="message assistant d-flex align-items-start mt-3">
            <img src="assets/icons/Ellipse.svg" class="bot-icon me-2" />
            <div class="bubble-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div *ngIf="assistantResponse" class="message assistant d-flex align-items-start mt-3">
            <img src="assets/icons/Ellipse.svg" class="bot-icon me-2" />
            <div class="d-flex flex-column align-items-start p-3">
                <span class="fw-bold text-primary">Assistant</span>
                <div class="text mt-2">
                    <p>{{ assistantResponse }}</p>
                    <ul class="options-list">
                        <li *ngFor="let option of assistantOptions" (click)="captureUserSelection(option)">
                            {{ option }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex chat-footer">
        <input type="text" class="form-control" placeholder="Escribir..." [(ngModel)]="message" />
        <button class="btn btn-primary send-btn" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>