<div class="d-flex flex-column gap-3">
	<h2 class="m-0 fs-5">Información de la empresa</h2>
	<div class="d-flex justify-content-between w-100 align-items-center">
		<h4 class="m-0 fs-6 fw-medium">Seleccionar país</h4>
		<div style="width: 140px">
      <!-- TODO: Corregir con nueva forma -->
		<!-- 	<app-select
				class="w-100"
				[control]="countryControl"
				[options]="countryOpt"
				name="country"
			></app-select> -->
		</div>
	</div>
	<!--Card-->
	<article class="w-100 p-4 rounded border border-2 overflow-x-auto">
		<div class="w-100 d-flex d-flex flex-column gap-4" style="min-width: 1000px">
			<div class="d-flex w-100 gap-3">
				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">Razon Social</h5>
					<span class="cl-muted fs-6 fw-normal">VALLE ENCANTADO SAC</span>
				</div>

				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">RUC</h5>
					<span class="cl-muted fs-6 fw-normal">20601460271</span>
				</div>

				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">Cuenta Corriente Soles BCP:</h5>
					<span class="cl-muted fs-6 fw-normal">191-2606708-0-8</span>
				</div>

				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">Cuenta Corriente Dólares BCP:</h5>
					<span class="cl-muted fs-6 fw-normal">191-2616687-1-90</span>
				</div>
			</div>
			<div class="d-flex w-100 gap-3">
				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">Cuenta Corriente Soles Interbank</h5>
					<span class="cl-muted fs-6 fw-normal">200-3002538987</span>
				</div>

				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">Cuenta Corriente Dólares Interbank</h5>
					<span class="cl-muted fs-6 fw-normal">200-3002538994</span>
				</div>

				<div class="d-flex flex-column w-100 gap-1">
					<h5 class="text-black m-0 fs-6 fw-medium">Tipo de cambio</h5>
					<span class="badge bg-info" style="color: #0085ff; width: fit-content">3.619</span>
				</div>

				<div class="w-100"></div>
			</div>
		</div>
	</article>
</div>
