<app-tree-template [leyends]="leyends" [zoomValue]="zoomValue" [type]="type" title="ÁRBOL TRINARIO">
	<!-- <div class="d-flex flex-column gap-2 align-items-center ms-auto">
		<span class="text-black fs-6">Zoom</span>
		<div
			class="p-2 border border-2 bg-light rounded cursor-pointer"
			style="width: 80px"
			(mousedown)="inZoom = true"
			(mouseleave)="onMouseUpBoxZoom($event)"
			(mousemove)="onMouseMoveBoxZoom($event)"
			(mouseup)="onMouseUpBoxZoom($event)"
			#containerZoom
		>
			<div
				class="bg-primary rounded-circle"
				style="width: 14px; height: 14px; transition: margin-left linear 100ms"
				[style.margin-left]="marginLeftZoom"
			></div>
		</div>
	</div> -->
</app-tree-template>