/* .card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li {
	justify-content: space-between !important;
	align-items: center !important;
	padding: 12px 0;
	cursor: pointer;
	border-bottom: 1px solid #eee !important;
	transition: background 0.2s ease-in-out !important;
}

li:hover {
	background: #f5f5f5 !important;
}

li:last-child {
	border-bottom: none !important;
}

ul {
	list-style: none;
	padding: 0;
}
 */