$orange: #FE7C04;
$white: #FFFFFF;
$secondary: #12292F;
$secondary-green: #48C180;
$blue-dark: #092D37;

$gray-100: #EDEDED;
$gray-200: #CDCED0;
$gray-600: #5F7081;
$gray-800: #363A3E;
$gray-900: #1A1C1E;

$foundation-blue-dark: #136077;
$foundation-blue-normal: #14667E;
$foundation-blue-light: #DDECF0;

$background: #FBFBFB;

// Responsive breakpoints
$sm: 40rem;
$md: 48rem;
$lg: 64rem;
$xl: 80rem;
$xl2: 96rem;

