<app-table
    class="card card-xxl-stretch mb-5"
    [noCheckboxes]="true"
    [customRows]="true"
    [headers]="[
        'N°',
        'Rango',
        'Usuario',
        'Nombres y Apellidos',
        'Nivel de patrocinio',
        'Patrocinador',
        'N° de Socios Directos',
        'Puntaje patrocinio directo',
        'Acciones'
    ]">

    
    

    <tr *ngFor="let r of dataBody; let i = index;">
        <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.rangeName }}</span>
            </div>
         </td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.userName }}</span>
            </div>
        </td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.fullName }}</span>
            </div>
        </td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.sponsorLevel }}</span>
            </div>
        </td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.sponsorName }}</span>
            </div>
        </td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.directPartnersCount }}</span>
            </div>
        </td>
        <td>
            <div class="d-flex flex-column">
                <span class="fw-bold fs-7">{{ r.directSponsorshipScore }}</span>
            </div>
        </td>
        <td fs-6 py-2 px-2 w-100 text-center>
            <button type="button" class="btn btn-link detail-link" (click)="viewByPartner(r)">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M12 5c5.5 0 9.7 4.5 10.9 6-1.2 1.5-5.4 6-10.9 6S2.3 12.5 1.1 11C2.3 9.5 6.5 5 12 5zm0 3.5a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9zm0 2a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5z"/>
                </svg>
            </button>
        </td>
    </tr>
    
</app-table>
<app-table-paginator *ngIf="length > 0"
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)">
</app-table-paginator>



