<app-breadcrumb class="p-2" [breadcrumbs]="breadcrumbItems"></app-breadcrumb>
<div class="proforma-card">
	<div class="proforma-header">
		<h1 class="proforma-heading">Proforma</h1>
		<button class="add-proforma-btn" (click)="onAdd()" [disabled]="quotations.length >= 2">
			<span class="plus">+</span>
			<span class="label">Añadir proforma</span>
		</button>
	</div>

	<div class="toolbar-card">
		<ng-container *ngIf="quotations?.length; else notFound">
			<ng-container *ngFor="let q of quotations; let i = index">
				<div class="proforma-item">
					<div class="proforma-title">Proforma {{ i + 1 }}</div>
					<div class="table-container">
						<app-table-generic [columns]="columns" [keys]="keys" [data]="[q]" [columnWidths]="columnWidths"
							[showEdit]="canEdit" [showDelete]="canEdit" (edit)="onEdit(q)" (delete)="onDelete(q)"
							(view)="onView(q)"></app-table-generic>
					</div>
				</div>
			</ng-container>
		</ng-container>

		<ng-template #notFound>
			<div class="no-proformas">No hay proformas disponibles.</div>
		</ng-template>

		<app-modal-confirm-delete *ngIf="showConfirm" [title]="confirmTitle" [message]="confirmMessage"
			(confirm)="onConfirmDelete()" (cancel)="onCancelDelete()"></app-modal-confirm-delete>
	</div>
</div>