<form class="d-flex flex-column gap-2 w-100" [formGroup]="form">
  <!-- FILA 1: Buscador / Patrocinador / Socios -->
  <div class="row g-3">
    <div class="col-12 col-md-4">
      <label class="form-label small mb-1">Patrocinador</label>
      <app-input class="w-100"
        type="text"
        placeholder="Buscar por nombre"
        [form]="form" controlName="searchSponsor">
      </app-input>
    </div>

    <div class="col-12 col-md-4">
      <label class="form-label small mb-1">Socios</label>
      <app-input class="w-100"
        type="text"
        placeholder="Buscar por usuario o nombre"
        [form]="form" controlName="searchBy">
      </app-input>
    </div>
    <div class="col-12 col-md-4">
      <label class="form-label small mb-1">Rangos</label>
      <app-select class="w-100"
        [options]="rangeOptions"
        placeholder="Selecciona uno"
        [form]="form" controlName="range">
      </app-select>
    </div>
  </div>

  <!-- FILA 2: Rangos / Estados / Rama / Botones -->
  <div class="row g-3 align-items-end mt-1">
    
    <div class="col-12 col-md-3">
      <label class="form-label small mb-1">Ciclo</label>
      <app-select 
        class="w-100"
        placeholder="Selecciona uno"
        [form]="form" 
        controlName="ciclos" 
        [options]="optCliclos">
      </app-select>
    </div>

    <div class="col-12 col-md-auto ms-md-auto d-flex gap-2">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="onExport()"
        [disabled]="disabledUser || exporting">
        <ng-container *ngIf="!exporting; else expLoading">Exportar</ng-container>
        <ng-template #expLoading>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Exportando...
        </ng-template>
      </button>
      <button class="btn btn-secondary" type="submit" (click)="onSearch()" [disabled]="isLoading || disabledUser">
        Filtrar
      </button>
    </div>
  </div>

  <!-- Tabla -->
 

</form>

<app-table-account-tree-sponsorship-list class="w-100 mt-3"
    [dataBody]="tableData"
    (detailModal)="onOpenDetail($event)"
    [totalRecords]="totalRecords"
    (pageChange)="onPageChange($event)"
    [isLoading]="isLoading"
    (refresh)="onRefresh($event)"
 ></app-table-account-tree-sponsorship-list>