<h6 class="section-title">Transferir dinero</h6>
<div class="d-flex justify-content-center">
    <div class="action-item" (click)="redirecctPage(1)"
        [style.background]="walletBlock ? '#f1f0f0 !important' : 'white'">
        <div class="h-100 align-content-center">
            <img src="/assets/wallet/transferir.svg" />
        </div>
        <div class="w-100 h-100 " style="margin-top: 13px;">
            <h6 class="mb-2">Entre wallet</h6>
            <p>Envía dinero a otro wallet</p>
        </div>
        <div class="h-100 align-content-center">
            <img src="/assets/icons/chevron-right.svg">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="action-item" (click)="redirecctPage(2)"
        [style.background]="walletBlock ? '#f1f0f0 !important' : 'white'">
        <div class="h-100 align-content-center">
            <img src="/assets/wallet/billetera.svg" />
        </div>
        <div class="w-100 h-100 " style="margin-top: 13px;">
            <h6 class="mb-2">A billetera electronica</h6>
            <p>Envía dinero a otro medio de pago</p>
        </div>
        <div class="h-100 align-content-center">
            <img src="/assets/icons/chevron-right.svg">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="action-item" (click)="redirecctPage(3)"
        [style.background]="walletBlock ? '#f1f0f0 !important' : 'white'">
        <div class="h-100 align-content-center">
            <img src="/assets/wallet/retirar.svg" />
        </div>
        <div class="w-100 h-100 " style="margin-top: 13px;">
            <h6 class="mb-2">A cuenta bancaria</h6>
            <p>Envía dinero a otro banco</p>
        </div>
        <div class="h-100 align-content-center">
            <img src="/assets/icons/chevron-right.svg">
        </div>
    </div>
</div>
<!--  <div class="d-flex justify-content-center">
        <div class="action-item" [style.background]="walletBlock ? '#f1f0f0 !important' : 'white'">
            <div class="h-100">
                <img src="/assets/wallet/transferir.svg" />

            </div>
            <div class="action-content">
                <h6 class="mb-2">A billetera electronica</h6>
                <p>Envía dinero a otro medio de pago</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="action-item" [style.background]="walletBlock ? '#f1f0f0 !important' : 'white'">
            <div class="h-100">
                <img src="/assets/wallet/transferir.svg" />

            </div>
            <div class="action-content">
                <h6 class="mb-2">A cuenta bancaria</h6>
                <p>Envía dinero a otro banco</p>
            </div>
        </div>
    </div> -->