<div class="d-flex flex-column gap-4">
	<!-- 	<button class="ms-auto btn btn-secondary w-auto" [disabled]="disabledUser" type="button" (click)="onReset()">
		Nueva Transferencia
	</button> -->
	<div class="d-flex flex-column mx-auto w-100" style="max-width: 500px">
		<h3 class="text-black m-0 fw-medium text-center text-uppercase fs-5 mb-4 mt-md-3">{{ title }}</h3>

		<!--Steps-->
		<div class="d-flex flex-row justify-content-center px-4 mb-5">
			<div class="d-flex flex-column align-items-center position-relative">
				<span class="rounded-circle text-white d-flex justify-content-center align-items-center"
					[class.bg-success]="step >= 1" [style.background-color]="step >= 1 ? 'auto' : '#b5bdb8'"
					style="width: 32px; height: 32px">1</span>
				<span class="text-black fw-normal position-absolute" style="width: max-content; bottom: -30px">Datos de
					transferencia</span>
			</div>
			<div class="line w-100" style="margin-top: 16px" [class.bg-success]="step >= 2"
				[style.background-color]="step >= 2 ? 'auto' : '#b5bdb8'"></div>
			<div class="d-flex flex-column align-items-center position-relative">
				<span class="rounded-circle text-white d-flex justify-content-center align-items-center"
					style="width: 32px; height: 32px" [class.bg-success]="step >= 2"
					[style.background-color]="step >= 2 ? 'auto' : '#b5bdb8'">2</span>
				<span class="text-black fw-normal position-absolute"
					style="width: max-content; bottom: -30px">Verificación de solicitud
				</span>
			</div>
			<div class="line w-100" style="margin-top: 16px" [class.bg-success]="step >= 3"
				[style.background-color]="step >= 3 ? 'auto' : '#b5bdb8'"></div>
			<div class="d-flex flex-column align-items-center position-relative">
				<span class="rounded-circle text-white d-flex justify-content-center align-items-center"
					style="width: 32px; height: 32px" [class.bg-success]="step === 3"
					[style.background-color]="step === 3 ? 'auto' : '#b5bdb8'">3</span>
				<span class="text-black fw-normal position-absolute" style="width: max-content; bottom: -30px">
					Confirmación de solicitud
				</span>
			</div>
		</div>
		<!--Step 1-->

		<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="min-height: 150px">
			<p-progressSpinner [style]="{ width: '2rem', height: '2rem' }" strokeWidth="3" fill="var(--surface-ground)"
				animationDuration=".7s"></p-progressSpinner>
			<span class="ms-2">Actualizando...</span>
		</div>

		<ng-container *ngIf="step === 1">
			<!--Nota -->
			<div class="row alert alert-info  mb-3 mt-3 mb-0 w-100 m-0" role="alert">
				<div class="col-12 col-sm-1  d-flex justify-content-center" style="align-items: center;">
					<img width=" 24" height="24" src="/assets/icons/eye-primary.svg">
				</div>
				<div class="col-12 col-sm-11 d-flex ">
					<span class="fw-normal text-center text-sm-start">Ingrese el usuario del destinatario y el monto a
						transferir.
						Recuerda que los montos es en dólares.</span>
				</div>
			</div>

			<app-input [form]="form" controlName="user" placeholder="Nombre de usuario a destinar"
				label="Nombre de usuario a destinar" class="w-100" (focusout)="getUsername($event)">
			</app-input>
			<app-input type="dollar" [form]="form" controlName="amount" placeholder=" $ 00.00" label="Monto"
				class="w-100"></app-input>
		</ng-container>
		<!--Step 2-->
		<ng-container *ngIf="step === 2">
			<!--Nota -->
			<div class="row alert alert-info  mb-3 mt-3 mb-0 w-100 m-0" role="alert">
				<div class="col-12 col-sm-1  d-flex justify-content-center" style="align-items: center;">
					<img width=" 24" height="24" src="/assets/icons/eye-primary.svg">
				</div>
				<div class="col-12 col-sm-11 d-flex ">
					<span class="fw-normal text-center text-sm-start">Ingrese su contraseña de tu cuenta del BackOffice
						para
						validar tu identidad y finalizar con la solitud de transferencia.</span>
				</div>
			</div>

			<app-input style="margin-bottom: 31px;" [form]="form" controlName="password" type="password"
				placeholder="Ingrese su contraseña" label="Contraseña" class="w-100"></app-input>

			<div class="d-flex flex-row justify-content-between align-items-center review-user">
				<span class="text-datos-referencia">Datos de la transferencia</span>
			</div>
			<div class="d-flex flex-row justify-content-between align-items-center">
				<span class="text-user">Nombre de usuario a destinar</span>
				<span class="text-user">{{ form.get('user').value }}</span>
			</div>
			<div class="d-flex flex-row justify-content-between align-items-center">
				<span class="text-user">Nombre y Apellido</span>
				<span class="text-user">{{name}} {{lastName}}</span>

			</div>
			<div class="d-flex flex-row justify-content-between align-items-center">
				<span class="text-user">Monto a transferir</span>
				<span class="text-user">$ {{ amount | number : '1.2-2' }}</span>
			</div>


		</ng-container>

		<!--Step 3-->
		<ng-container *ngIf="!isLoading && step === 3">
			<div class="row mb-3 mt-3 mb-0 w-100 m-0 justify-content-center" role="alert">
				<div class="col-12 col-sm-11 col-md-11 col-lg-11 text-center ">
					<span style="color:#5F7081" class="fw-normal">Se ha enviado un código de confirmación para
						transferir el saldo al correo {{userEmail}}</span>
				</div>
			</div>
			<app-input [form]="form" controlName="confirmCode" type="text" placeholder="Ingrese el código enviado"
				label="Código de aprobación o token" class="w-100" (focusout)="getVerificacion($event)"></app-input>
			<div class="verification-status" *ngIf="verificacion">
				<span class="status-text">Codigo de Verificación es incorrecto </span>
				<i class="x-icon">✕</i>
			</div>
			<!--Nota -->
			<div class="row alert alert-info  mb-3 mt-3 mb-0 w-100 m-0" role="alert">
				<div class="col-12 col-sm-1  d-flex justify-content-center"
					style="align-items: center;padding-right: 4px;">
					<mat-icon fontIcon="info"></mat-icon>
				</div>
				<div class="col-12 col-sm-11 d-flex ">
					<span class="fw-normal text-center text-sm-start  text-code">¿No has recibido el código? El mensaje
						llegará en unos minutos. Si en caso no te llega el código, ingresa tu correo para reenviarlo.
						<span class="text-reenvio" (click)="reenviarCode()">Ingresa tu correo aquí</span>
					</span>
				</div>
			</div>

		</ng-container>

		<!--Submit-->
		<div class="row mt-4">
			<div class="col-12 col-md-6">
				<!-- <button *ngIf="step === 2 || step === 3" class="btn btn-secondary" type="button"
					(click)="onPreviousStep()">
					{{ btnBack }}
				</button> -->
				<button class="btn btn-volver w-100 mb-2" type="button" (click)="onPreviousStep()">{{ btnBack
					}}</button>

			</div>
			<div class="col-12 col-md-6">
				<button class="w-100" [ngClass]="{
					'ms-auto': step === 1,
					btn: true,
					'btn-secondary': true
				}" type="button" [disabled]="(!isValidBtn || disabledUser)" (click)="onNextStep()">
					{{ btnText }}
				</button>
			</div>
		</div>

	</div>
</div>