<div class="w-100 border rounded border-2 p-3 d-flex flex-column gap-3">
	<h4 class="text-black fs-5 m-0 fw-medium">Avance Perfil</h4>
	<div class="line opacity-25 w-100 bg-black"></div>
	<div class="d-flex flex-column gap-2 w-100 mt-3 mb-3">
		<div class="d-flex flex-row gap-4 justify-content-center w-100">
			<div class="d-flex flex-column align-items-center">
				<mat-icon fontIcon="check_circle" class="text-success"></mat-icon>
				<span class="text-success fw-bold">Regístrate</span>
			</div>
			<div class="d-flex flex-column align-items-center">
				<mat-icon fontIcon="check_circle" class="cl-muted"></mat-icon>
				<span class="cl-muted fw-bold">Configurar</span>
			</div>
			<div class="d-flex flex-column align-items-center">
				<mat-icon fontIcon="check_circle" class="cl-muted"></mat-icon>
				<span class="cl-muted fw-bold">Invertir</span>
			</div>
			<div class="d-flex flex-column align-items-center">
				<mat-icon fontIcon="check_circle" class="cl-muted"></mat-icon>
				<span class="cl-muted fw-bold">Ver retorno</span>
			</div>
		</div>
		<div class="w-100 border position-relative rounded" style="background-color: #e3d9ea; height: 14px">
			<div class="position-absolute bg-success w-25 start-0 top-0 rounded h-100"></div>
		</div>
	</div>
	<a href="" class="text-secondary" style="text-decoration: none">Ir al avance</a>
</div>
