<div class="event-venue-card d-flex flex-column gap-6 p-6 bg-white w-100">
  <h2 class="title">Lugar de eventos</h2>

  <div class="toolbar-card">
    <app-list-toolbar
      placeholder="Ingrese el lugar que necesita buscar..."
      actionText="Agregar tipo"
      [clearMessage]="clearCountdownText"
      (search)="onSearch($event)"
      (action)="onAdd()"
    ></app-list-toolbar>

    <ng-container *ngIf="!loading; else loadingTemplate">
      <ng-container *ngIf="venues.length > 0; else empty">
        <app-table-generic
          [columns]="['Item', 'País', 'Ciudad', 'Lugar de eventos', 'Dirección', 'Status']"
          [keys]="['item', 'country', 'city', 'nameVenue', 'address', 'status']"
          [data]="pagedData"
          [columnWidths]="['10%', '10%', '15%', '20%', '25%', '10%']"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        ></app-table-generic>
      </ng-container>

      <app-table-paginator
        *ngIf="venues.length > 0"
        [length]="venues.length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      ></app-table-paginator>
    </ng-container>

    <ng-template #loadingTemplate>
      <div class="d-flex justify-content-center align-items-center py-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>
    </ng-template>

    <ng-template #empty>
      <app-empty-state message="No data"></app-empty-state>
    </ng-template>
  </div>
</div>

<app-modal-venue-form
  *ngIf="showModal"
  [title]="editMode ? 'Editar lugar' : 'Agregar lugar'"
  [initialData]="editMode ? selectedToEdit! : undefined"
  (save)="onSaveModal($event)"
  (close)="onCloseModal()"
></app-modal-venue-form>

<app-modal-notify
  *ngIf="showNotify"
  [title]="notifyTitle"
  [message]="notifyMessage"
  [iconType]="notifyType"
  (closed)="onNotifyClose()"
></app-modal-notify>

<app-modal-confirm-delete
  *ngIf="showDeleteModal"
  [title]="'¿Eliminar lugar de eventos?'"
  [message]="'¿Estás seguro que deseas eliminar el lugar: ' + selectedToDelete?.nameVenue + '?'"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
></app-modal-confirm-delete>
