.content-img {
    width: 48px;
    height: 48px;
    border-radius: 28px;
    border-width: 8px;
    background: #D1FADF;

}

.info-circle {
    margin-left: 12px;
    margin-top: 10px;
}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #535862;
}

.text-black {
    font-weight: 590;
    color: #535862;
}

.linea-separation {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E9EAEB;
}

.btn-confirmar {
    gap: 8px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    border-radius: 4px;
    background: #FE7C04;
    color: #FFFFFF;

    &:hover {
        background: #d6a170;

    }
}