.spinner-container {
    margin-top: 10px;
    margin-left: -100px;
}

.table-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fixed-width-button {
    width: 80px;
}