.navigation-bar {
	height: 4px;
	border-radius: 8px;
	transition: all ease-in-out 500ms;

}

.navigation-container {
	width: 100%;
	justify-content: space-between;
}

@media (min-width: 982px) {
	// .navigation-container {
	// 	width: calc(100vw - 300px - 7.5rem);
	// }
}
// .navigation-container {
// 	position: relative;
// 	overflow-x: auto;
// 	overflow-y: hidden;
// 	padding-bottom: 2px;
// }

// .navigation-bar {
// 	position: absolute;
// 	height: 4px;
// 	bottom: 0;
// 	background-color: var(--bs-secondary);
// 	transition: transform 0.3s ease, width 0.3s ease;
// }

// .nav-item {
// 	padding: 1rem;
// 	cursor: pointer;
// 	font-family: Roboto;
// }

// .nav-item.active {
// 	color: var(--bs-secondary);
// }
