<div class="d-flex flex-column gap-6 p-6 bg-white w-100">
	<h1 class="fs-1 text-black fw-medium m-0">Solicitudes de traspasos</h1>

	<form [formGroup]="filterForm" class="d-flex w-100 gap-3 align-items-end mb-3">
		<!-- Input búsqueda -->

		<app-input
			[formGroup]="filterForm"
			label="Buscador"
			controlName="search"
			placeholder="Ingrese lo que necesita buscar..."
			iconRigth="bi bi-search"
			class="w-100 flex-grow-1 custom-input"
		></app-input>

		<!-- Select tipo de traspaso -->
		<div class="form-group mb-0">
			<app-select
				label="Tipo de trapaso"
				placeholder="Selecciona un opción"
				[options]="asOpt"
				[formGroup]="filterForm"
				controlName="as"
				class="w-100"
				customClass="form-control"
			></app-select>
		</div>

		<div class="d-flex align-items-center">
			<button class="btn btn-outline-secondary" type="button" (click)="applyFilter()">Filtrar</button>
		</div>
	</form>

	<!-- Tabla -->
	<app-common-table
		class="w-100"
		[headers]="table.headers"
		[checkedAll]="table.checkedAll"
		[headersMinWidth]="table.headersMinWidth"
		[noCheckboxes]="table.noCheckBoxes"
		[firstEmpty]="true"
		(onCheckedAll)="table.changeCheckedAll($event)"
	>
		<tr class="w-100 d-flex py-2 align-items-center" *ngFor="let item of table.data; let i = index">
			<td class="d-flex justify-content-center">
				<div class="form-check-sm form-check-custom form-check-solid">
					<input
						class="form-check-input cursor-pointer"
						type="radio"
						name="liquidation-item-radio"
						[value]="i"
						[(ngModel)]="selectedRowId"
					/>
				</div>
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ i + 1 }}
			</td>

			<td class="w-100 text-gray-900 text-center fs-6">{{ item.requestDate | date : 'dd/MM/yyyy' }}</td>

			<td class="w-100 text-gray-900 text-center fs-6">
				{{ item.user_from_nombre }} {{ item.user_from_last_name }}
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ getTransferTypeName(item.idTransferType) }}
				-
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ item.requestDate | date : 'dd/MM/yyyy' }}
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ item?.username_to ? item.username_to : '-' }}
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ item.user_to_nombre }} {{ item.user_to_apellido }}
			</td>

			<td class="w-100 text-gray-900 text-center fs-6">
				 {{ item?.nameMembership ? item.nameMembership : '-' }} 
			</td>
			<!-- 	<td class="w-100 text-gray-900 text-center fs-6">Rango residual</td>
			<td class="w-100 text-gray-900 text-center fs-6">0</td>
			<td class="w-100 text-gray-900 text-center fs-6">Usado</td> -->
		</tr>
	</app-common-table>

	<app-table-paginator
		[length]="filteredData.length"
		[pageSize]="pageSize"
		[pageIndex]="pageIndex"
		(pageChange)="onPageChange($event)"
		(pageSizeChange)="onPageSizeChange($event)"
	></app-table-paginator>
</div>
