<div class="d-flex flex-column gap-6 p-6 bg-white w-100">
	<!-- Título principal -->
	<h1 class="fs-4 text-black fw-medium m-0">Generar comisiones</h1>

	<div class="d-flex gap-3">
		<div class="d-flex gap-3 w-75">
			<div class="p-3 rounded bg-light d-flex flex-column justify-content-center w-50">
				<small class="text-muted mb-1">Socio a comisionar</small>
				<span class="fw-semibold text-dark">{{ userName }}</span>
			</div>

			<div class="p-3 rounded bg-light d-flex flex-column justify-content-center w-50">
				<small class="text-muted mb-1">Tipo de bono</small>
				<span class="fw-semibold text-dark">Bono de Logro de Rango</span>
			</div>

			<div class="p-3 rounded bg-light d-flex flex-column w-50">
				<small class="text-muted mb-1">
					{{ selectedPeriods.length === 1 ? 'Periodo' : 'Periodos' }}
				</small>
				<span class="fw-semibold text-dark"> {{ formattedPeriods }} </span>
			</div>
		</div>

		<div class="d-flex justify-content-end w-25">
			<div class="p-3 rounded bg-light w-100">
				<small class="text-muted mb-1">
					El ciclo de referencia, es
					<span class="text-primary text-decoration-underline">relativo</span>
					y está sujeto al pago de las comisiones.
					<i class="fas fa-info-circle ms-1"></i>
				</small>
			</div>
		</div>
	</div>

	<!-- Botones -->
	<div class="d-flex justify-content-end gap-3 mt-4">
		<button class="btn btn-outline-secondary" (click)="navigateToBack()">Volver</button>
		<!-- <button class="btn btn-secondary text-white">Guardar</button> -->
	</div>

	<app-common-table
		class="w-100 d-block"
		[headers]="table.headers"
		[checkedAll]="table.checkedAll"
		[headersMinWidth]="table.headersMinWidth"
		[headersMaxWidth]="table.headersMaxWidth"
		[noCheckboxes]="table.noCheckBoxes"
		[firstEmpty]="true"
		(onCheckedAll)="table.changeCheckedAll($event)"
	>
		<tr class="w-100 d-flex py-2 align-items-center" *ngFor="let item of table.data; let i = index">
			<td class="w-40px d-flex justify-content-center">
				<div class="form-check-sm form-check-custom form-check-solid">
					<input
						class="form-check-input cursor-pointer"
						type="radio"
						name="file-upload-item-radio"
						[value]="item.id"
						[(ngModel)]="selectedRowId"
						(click)="onRowSelect(item)"
					/>
				</div>
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ item.username }}
			</td>
			<td class="w-100 text-gray-900 text-center d-flex justify-content-center fs-6">
				{{ item.description }}
			</td>
			<td class="w-100 text-gray-900 text-center d-flex justify-content-center fs-6">
				{{ item.rangeName ? item.rangeName : '-' }}
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				{{ item.amount | number : '1.2-2' }}
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">
				<input
					*ngIf="selectedRowId === item.id"
					class="form-control no-spinners"
					style="text-align: end"
					type="text"
					[min]="0"
					step="0.01"
					[(ngModel)]="item.regularization"
					inputmode="decimal"
					pattern="\d*(\.\d{0,2})?"
					(input)="onAmountInput($event, item)"
				/>
				<span *ngIf="selectedRowId !== item.id">
					{{ item.regularization | number : '1.2-2' }}
				</span>
			</td>
			<td
				class="w-100 text-center fs-6"
				[ngClass]="{
					'text-success': item.difference > 0,
					'text-danger': item.difference < 0,
					'text-muted': item.difference === 0
				}"
			>
				{{ item.difference | number : '1.2-2' }}
			</td>

			<td
				class="w-100 text-center point-table fs-6 fw-bold"
				[class.text-success]="item.byStatus === true"
				[class.text-muted]="item.byStatus != true"
			>
				{{ item.byStatus === true ? 'Sí' : 'No' }}
			</td>
			<td
				class="w-100 text-center point-table fs-6 fw-bold"
				[class.text-success]="item.byMembership === true"
				[class.text-muted]="item.byMembership != true"
			>
				{{ item.byMembership === true ? 'Sí' : 'No' }}
			</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.createDate }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.period }}</td>
			<td class="w-100 d-flex justify-content-center">
				<button
					class="btn btn-sm"
					[ngbTooltip]="selectedRowId === item.id ? 'Guardar cambios' : 'Editar bono'"
					[disabled]="selectedRowId !== item.id"
					(click)="onEditBonus()"
				>
					<i
						[ngClass]="{
							'fas fa-pencil-alt fs-3': selectedRowId !== item.id,
							'far fa-save fs-3 text-secondary': selectedRowId === item.id
						}"
					></i>
				</button>
				<!-- <button class="btn btn-sm" ngbTooltip="Enviar correo" [disabled]="selectedRowId !== item.id">
					<i
						class="fas fa-paper-plane fs-3"
						[ngClass]="{ 'text-secondary': selectedRowId === item.id }"
					></i>
				</button> -->
			</td>
		</tr>
	</app-common-table>
</div>
