<!--   <mat-card class="card-proyect flex-grow-1 h-100">
    <img appConcatenateSrc="ef81cddc-6ef7-47ba-a21b-2c48e3a5bf86-noticias.png" 
         mat-card-image 
         class=" rounded ms-5">
  </mat-card>
 -->

<!--  <mat-card class="card-proyect flex-grow-1 h-100 w-100">
  <img appConcatenateSrc="ef81cddc-6ef7-47ba-a21b-2c48e3a5bf86-noticias.png" 
       mat-card-image 
       class="w-100 rounded ms-5" 
       style="object-fit: cover; height: 100%;">
</mat-card> -->
<div class="card-proyect flex-grow-1 h-100 w-100">
  <img appConcatenateSrc="ef81cddc-6ef7-47ba-a21b-2c48e3a5bf86-noticias.png" 
  mat-card-image 
  class="w-100 rounded ms-5" 
  style="object-fit: cover; height: 100%;">

</div>

