.body {
    text-align: center;
    margin-top: -20px !important;

    i {
        font-size: 4rem;
        color: #dc3545;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2rem;
        color: #6c757d;
        margin: 20px 0px 20px 0px;
    }
}

.fixed-width-button {
    width: 90px;
}