<div class="p-4 card px-0 px-md-4 card-border-none">
  <h1 class="fs-2 mb-24">Nuestros Proyectos</h1>
  <p class="fs-5 text-dark fw-medium">Inresorts</p>
  <div class="row mb-3">
    <div class="col-md-4 col-12 mb-3">
      <card-project (clickDetail)=" onDetail()"></card-project>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <card-project (clickDetail)=" onDetail()"></card-project>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <card-project (clickDetail)=" onDetail()"></card-project>
    </div>
  </div>
  <p class="fs-5 text-dark fw-medium">Inresorts</p>
  <div class="row mb-3">
    <div class="col-md-4 col-12 mb-3">
      <card-project (clickDetail)=" onDetail()"></card-project>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <card-project (clickDetail)=" onDetail()"></card-project>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <card-project (clickDetail)=" onDetail()"></card-project>
    </div>
    <div class="col-12 col-md-10 mt-3">
      <code-reference></code-reference>
    </div>
  </div>
</div>