<div class="card p-4 d-flex flex-column w-100 gap-4 border-0">
	<app-breadcrumb [breadcrumbs]="breadcrumbItems"></app-breadcrumb>

	<div
		class="d-flex flex-column flex-md-row gap-2 gap-md-0 justify-content-md-between align-items-md-center"
	>
		<h1 class="m-0 fs-4 text-black fw-medium">{{tipoLabel}}</h1>
	</div>

	<app-tab-profiles [tabs]="profileTabs" styleType="outlined"></app-tab-profiles>

	<div class="tab-content mt-4">
		<div [ngClass]="{ 'd-block': currentTab === 1, 'd-none': currentTab !== 1 }">
			<div *ngIf="isLoading" class="d-flex justify-content-center py-5">
				<app-loader [size]="'3rem'" [strokeWidth]="'3'"></app-loader>
			</div>
			<app-legalization
				*ngIf="!isLoading"
				[listLegalDocuments]="filteredDocuments"
				[selectedProduct]="selectedProduct"
				[userInfo]="userInfo"
			></app-legalization>
		</div>
		<div [ngClass]="{ 'd-block': currentTab === 2, 'd-none': currentTab !== 2 }">
			<app-document-status ></app-document-status>
		</div>
	</div>
</div>
