<!-- <div class="custom-modal">
    <div class="modal-content">
      <div class="text-center">
        <img 
          src="assets/images/popup-banner.jpeg" 
          alt="Imagen del modal" 
          class="modal-image img-fluid" />
      </div>
   </div>
  </div>
   -->

   <div class="custom-modal">
    <div class="modal-content">
      <div class="text-center">
        <img 
          [src]="imageUrl" 
          alt="Imagen del modal" 
          class="modal-image img-fluid" />
      </div>
   <!--    <div class="modal-footer">
        <button pButton type="button" (click)="closeModal()" label="Cerrar"></button>
      </div> -->
    </div>
  </div>
  
