<!-- <guest-panels [panel]="myPurchases">
  <p-tabView [activeIndex]="activeTabIndex">
        <p-tabPanel header="Compras">
            @if (isLoadingResults) {
            <div class="loading-container">
                <app-logo-spinner [show]="isLoadingResults" size="80px">
                </app-logo-spinner>
            </div>
            }
            @else if (!purchases?.length) {
            <guest-empty-state [state]="emptyPurchases" />
            }
            @else {
            <app-simple-table [data]="purchases" [columns]="columns" [scrollHeight]="'400px'"
                [tableStyleClass]="'p-datatable-sm purchases-table'" [showDebugInfo]="true">
                <ng-template #bodyTemplate let-rowData let-columns="columns">
                    <tr>
                        @for (col of columns; track col) {
                        @switch (col.field) {
                        @case ('purchaseDate') {
                        <td>
                            <span class="date">{{rowData[(col.field)] | date: 'dd/MM/yyyy' }}</span>
                        </td>
                        }
                        @case ('total') {
                        <td>
                            <span class="total">{{ rowData[col.field] }}</span>
                        </td>
                        }
                        @case ('document') {
                        <td class="document">
                            <a [href]="rowData[col.field]" target="_blank">{{ rowData[col.field] }}</a>
                        </td>
                        }
                        @case ('status') {
                        <td class="default">
                            <span>{{ translatePaymentStatus(rowData[col.field]) }}</span>
                        </td>
                        }
                        @default {
                        <td class="default">
                            {{ rowData[col.field] }}
                        </td>
                        }
                        }
                        }
                    </tr>
                </ng-template>
            </app-simple-table>

            <div class="ambassador-pagination-wrapper">
              <app-pagination [currentPage]="currentPage.value" [totalPages]="totalPages" [totalElements]="totalElements"
                  [pageSize]="pageSize" [hasNext]="hasNext" [hasPrevious]="hasPrevious" [isLoading]="isLoadingResults"
                  [showDebugInfo]="true" (pageChange)="changePage($event)" (firstPage)="firstPage()"
                  (lastPage)="lastPage()" (nextPage)="nextPage()" (previousPage)="previousPage()">
              </app-pagination>
            </div>
            }
        </p-tabPanel>

        <p-tabPanel header="Rechazados">
            @if (isLoadingResults) {
            <div class="loading-container">
                <app-logo-spinner [show]="isLoadingResults" size="80px">
                </app-logo-spinner>
            </div>
            }
            @else if (!rejected?.length) {
            <guest-empty-state [state]="emptyPurchases" />
            }
            @else {
            <app-simple-table [data]="rejected" [columns]="rejectedColumns" [scrollHeight]="'400px'"
                [tableStyleClass]="'p-datatable-sm purchases-table'" [showDebugInfo]="true">
                <ng-template #bodyTemplate let-rowData let-columns="columns">
                    <tr>
                        @for (col of columns; track col) {
                        @switch (col.field) {
                        @case ('purchaseDate') {
                        <td>
                            <span class="date">{{rowData[(col.field)] | date: 'dd/MM/yyyy' }}</span>
                        </td>
                        }
                        @case ('total') {
                        <td>
                            <span class="total"> {{ rowData[col.field] }}</span>
                        </td>
                        }
                        @case ('status') {
                        <td class="default">
                            <span>{{ translatePaymentStatus(rowData[col.field]) }}</span>
                        </td>
                        }
                        @case ('document') {
                        <td class="document">
                            <a [href]="rowData[col.field]" target="_blank">{{ rowData[col.field] }}</a>
                        </td>
                        }
                        @default {
                        <td class="default">
                            {{ rowData[col.field] }}
                        </td>
                        }
                        @case('accions'){
                        <td>
                            <button class="btn btn-secondary btn-sm" type="button"
                                (click)="openRestoreModal(rowData)" [disabled]="isLoadingResults || rowData.status === 'REJECTED'">
                                <span>Restablecer</span>
                            </button>
                        </td>
                        }
                        }
                        }
                    </tr>
                </ng-template>
            </app-simple-table>

            <div class="ambassador-pagination-wrapper">
              <app-pagination [currentPage]="currentPage.value" [totalPages]="totalPages" [totalElements]="totalElements"
                  [pageSize]="pageSize" [hasNext]="hasNext" [hasPrevious]="hasPrevious" [isLoading]="isLoadingResults"
                  [showDebugInfo]="true" (pageChange)="changePage($event)" (firstPage)="firstPage()"
                  (lastPage)="lastPage()" (nextPage)="nextPage()" (previousPage)="previousPage()">
              </app-pagination>
            </div>
            }
        </p-tabPanel>

       <p-tabPanel header="Nominar">
  @if (!nominations?.length) {
    <guest-empty-state [state]="emptyNominations" />
  }
  @else {
    <app-simple-table 
      [data]="nominations" 
      [columns]="nominationsColumns" 
      [scrollHeight]="'400px'" 
      [tableStyleClass]="'p-datatable-sm purchases-table'" 
      [showDebugInfo]="true">

      <ng-template #bodyTemplate let-rowData let-columns="columns">
        <tr>
          @for (col of columns; track col) {
            @switch (col.field) {

              @case ('orderNumber') {
                <td>
                  <span class="">{{ rowData[col.field] }}</span>
                </td>
              }

              @case ('paymentDate') {
                <td>
                  <span class="date">{{ rowData[col.field] | date:'dd/MM/yyyy' }}</span>
                </td>
              }

              @case ('eventName') {
                <td>
                  <span class="">{{ rowData[col.field] }}</span>
                </td>
              }

              @case ('totalTickets') {
                <td>
                  <span class="">{{ rowData[col.field] }}</span>
                </td>
              }

              @case ('status') {
                <td>
                  <span class="status-pill" [ngClass]="getNominationClass(rowData.status)">
                    {{ formatNominationStatus(rowData.status) }}
                  </span>
                </td>
              }

              @case ('acciones') {
                <td>
                  <button class="btn-nominar" type="button"
                          (click)="openNominationForTicket(rowData)">
                    Nominar
                  </button>
                </td>
              }

              @default {
                <td>{{ rowData[col.field] }}</td>
              }

            }
          }
        </tr>
      </ng-template>
    </app-simple-table>

    <app-pagination 
      [currentPage]="currentPage.value" 
      [totalPages]="totalPages" 
      [totalElements]="nominations.length"
      [pageSize]="pageSize" 
      [hasNext]="hasNext" 
      [hasPrevious]="hasPrevious" 
      [isLoading]="isLoadingResults"
      (pageChange)="changePage($event)" 
      (firstPage)="firstPage()" 
      (lastPage)="lastPage()" 
      (nextPage)="nextPage()" 
      (previousPage)="previousPage()">
    </app-pagination>
  }
</p-tabPanel>


    </p-tabView>
</guest-panels> -->

<guest-panels [panel]="myPurchases">
	<app-tab-profiles [tabs]="profileTabs" styleType="outlined"> </app-tab-profiles>

	<div class="mt-4" [ngSwitch]="activeTab">
		<!-- Compras -->
		<ng-container *ngSwitchCase="1">
			@if (isLoadingResults) {
			<div class="loading-container">
				<app-logo-spinner [show]="isLoadingResults" size="80px"></app-logo-spinner>
			</div>
			} @else if (!purchases?.length) {
			<guest-empty-state [state]="emptyPurchases" />
			} @else {
			<app-prime-table [data]="purchases" [headers]="headers" [customRows]="true">
				<ng-template #rowTemplate let-rowData let-index="index">
					<tr>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.orderNumber }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{
								rowData.purchaseDate | date : 'dd/MM/yyyy'
							}}</span>
						</td>

						<td>
							<span class="d-block w-100 text-center">{{ rowData.eventName }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.paymentMethod }}</span>
						</td>

						<td>
							<span class="d-block w-100 text-center">S/ {{ rowData.total }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center"> {{ rowData.status }}</span>
						</td>
					</tr>
				</ng-template>
			</app-prime-table>
			<app-pagination-ng-prime
				[rows]="pageSize"
				[totalRecords]="totalElements"
				[rowsPerPageOptions]="[10, 20, 30]"
				[align]="align"
				(pageChange)="changePage($event)"
				(refresh)="onRefresh($event)"
			>
			</app-pagination-ng-prime>

			<!-- 	<app-pagination
				[currentPage]="currentPage.value"
				[totalPages]="totalPages"
				[totalElements]="totalElements"
				[pageSize]="pageSize"
				[hasNext]="hasNext"
				[hasPrevious]="hasPrevious"
				[isLoading]="isLoadingResults"
				[showDebugInfo]="true"
				(pageChange)="changePage($event)"
				(firstPage)="firstPage()"
				(lastPage)="lastPage()"
				(nextPage)="nextPage()"
				(previousPage)="previousPage()"
			>
			</app-pagination> -->
			}
		</ng-container>

		<!-- Rechazados -->
		<ng-container *ngSwitchCase="2">
			<!-- Spinner -->
			<div *ngIf="isLoadingResults" class="loading-container">
				<app-logo-spinner [show]="isLoadingResults" size="80px"></app-logo-spinner>
			</div>

			<!-- Estado vacío -->
			<guest-empty-state
				*ngIf="!isLoadingResults && !rejected?.length"
				[state]="emptyPurchases"
			></guest-empty-state>

			<!-- Tabla -->
			<app-prime-table
				*ngIf="!isLoadingResults && rejected?.length"
				[data]="rejected"
				[headers]="headersRejected"
				[customRows]="true"
			>
				<ng-template #rowTemplate let-rowData let-index="index">
					<tr>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.orderNumber }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{
								rowData.purchaseDate | date : 'dd/MM/yyyy'
							}}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.eventName }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.paymentMethod }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.total }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{
								translatePaymentStatus(rowData.status)
							}}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center"
								><button
									class="btn btn-secondary btn-sm"
									type="button"
									(click)="openRestoreModal(rowData)"
									[disabled]="rowData.status === 'REJECTED'"
								>
									Restablecer
								</button></span
							>
						</td>
					</tr>
				</ng-template>
			</app-prime-table>

			<!-- Paginación -->
			<app-pagination
				[currentPage]="currentPage.value"
				[totalPages]="totalPages"
				[totalElements]="totalElements"
				[pageSize]="pageSize"
				[hasNext]="hasNext"
				[hasPrevious]="hasPrevious"
				[isLoading]="isLoadingResults"
				(pageChange)="changePage($event)"
				(firstPage)="firstPage()"
				(lastPage)="lastPage()"
				(nextPage)="nextPage()"
				(previousPage)="previousPage()"
			>
			</app-pagination>
		</ng-container>

		<!-- Nominar -->
		<ng-container *ngSwitchCase="3">
			<!-- Spinner -->
			<div *ngIf="isLoadingResults" class="loading-container">
				<app-logo-spinner [show]="isLoadingResults" size="80px"></app-logo-spinner>
			</div>

			<!-- Estado vacío -->
			<guest-empty-state
				*ngIf="!isLoadingResults && !nominations?.length"
				[state]="emptyNominations"
			></guest-empty-state>

			<!-- Tabla -->
			<app-prime-table
				*ngIf="!isLoadingResults && nominations?.length"
				[data]="nominations"
				[headers]="nominationHeaders"
				[customRows]="true"
			>
				<ng-template #rowTemplate let-rowData let-index="index">
					<tr>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.orderNumber }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{
								rowData.paymentDate | date : 'dd/MM/yyyy'
							}}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.eventName }}</span>
						</td>
						<td>
							<span class="d-block w-100 text-center">{{ rowData.totalTickets }}</span>
						</td>
						<td>
							<span
								class="d-block w-100 text-center"
								[ngClass]="getNominationClass(rowData.status)"
							>
								{{ formatNominationStatus(rowData.status) }}
							</span>
						</td>
						<td>
							<span class="d-block w-100 text-center"
								><button
									class="btn-nominar"
									type="button"
									(click)="openNominationForTicket(rowData)"
									[disabled]="rowData.status === 'NOMINATED'"
								>
									Nominar
								</button></span
							>
						</td>
					</tr>
				</ng-template>
			</app-prime-table>

			<!-- Paginación -->
			<app-pagination
				[currentPage]="currentPage.value"
				[totalPages]="totalPages"
				[totalElements]="nominations.length"
				[pageSize]="pageSize"
				[hasNext]="hasNext"
				[hasPrevious]="hasPrevious"
				[isLoading]="isLoadingResults"
				(pageChange)="changePage($event)"
				(firstPage)="firstPage()"
				(lastPage)="lastPage()"
				(nextPage)="nextPage()"
				(previousPage)="previousPage()"
			>
			</app-pagination>
		</ng-container>
	</div>
</guest-panels>
