<mat-card class="card-project">
    <!--     <img mat-card-image src="../../../..https://staticv1.inclub.site/images/img-card-13.png" />

 -->
    <img mat-card-image src=" https://s3.us-east-2.amazonaws.com/backoffice.documents/bo-imagenes/ef81cddc-6ef7-47ba-a21b-2c48e3a5bf86-card&ribera&(1).png
 " />

    <mat-card-content>
        <div class="pt-3 text-center">
            <p class="fs-6 text-black text-uppercase mb-1">Cieneguilla, Lima, Perú</p>
            <span class="fs-5 text-black text-uppercase fw-medium">CLUB RESORT</span>
        </div>
        <div class="pt-2">
            <p class="fs-6 text-success text-uppercase mb-1 fw-medium text-center">50%</p>
            <mat-progress-bar [value]="50" class="mb-1 progress" />
            <div class="d-flex flex-row justify-content-between w-100 mb-3">
                <p class="fs-6 cl-gray mb-0">Objetivo</p>
                <p class="fs-6 cl-gray mb-0">USD $167 000</p>
            </div>
            <div class="mb-3">
                <span class="d-flex mb-2 align-items-center">
                    <mat-icon class="text-success fs-5" style="height: 1.25rem;width: 1.25rem;">check</mat-icon>
                    <p class="fs-6 text-dark mb-0 ms-2">Inversión mas de $1.5 Millones</p>
                </span>
                <span class="d-flex mb-2 align-items-center">
                    <mat-icon class="text-success fs-5" style="height: 1.25rem;width: 1.25rem;">check</mat-icon>
                    <p class="fs-6 text-dark mb-0 ms-2">12 años de Experiencia</p>
                </span>
                <span class="d-flex mb-2 align-items-center">
                    <mat-icon class="text-success fs-5" style="height: 1.25rem;width: 1.25rem;">check</mat-icon>
                    <p class="fs-6 text-dark mb-0 ms-2">Respaldo Internacional (RCI)</p>
                </span>
                <span class="d-flex mb-2 align-items-center">
                    <mat-icon class="text-success fs-5" style="height: 1.25rem;width: 1.25rem;">check</mat-icon>
                    <p class="fs-6 text-dark mb-0 ms-2">Asociada a 5,500 Hoteles</p>
                </span>
            </div>
            <div class="pt-2 text-center pb-3">
                <span class="fs-5 text-black fw-medium">8.59%</span>
                <p class="fs-6 cl-gray mb-0">Retorno neto anual estimado</p>
            </div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="px-3 py-2 text-center">
        <button type="button" (click)="onClickDetail()" mat-button color="accent">Ver detalles</button>
    </div>
</mat-card>