<div class="modal-container">
	<div class="modal-content">
		<div class="d-flex flex-column w-100">
			<!-- Header -->
			<div class="modal-header">
				<h5 class="text-black fw-medium family-font">Cambiar contraseña</h5>
			</div>
			<p style="font-size: 14px" class="text-muted family-font">
				Crea una contraseña nueva que tenga al menos 8 caracteres.
			</p>

			<!-- Formulario -->
			<form [formGroup]="formPassword">
				<!-- Contraseña actual -->
				<div class="w-100 mt-2">
					<app-input
						label="Contraseña Actual"
						placeholder="Ingresar contraseña"
						type="password"
						[form]="formPassword"
						controlName="currentPassword"
						[showIcon]="true"
						(input)="trimSpaces('currentPassword')"
					>
					</app-input>
				</div>

				<!-- Nueva contraseña -->
				<div class="w-100 mt-2">
					<app-input
						label="Contraseña nueva"
						placeholder="Ingresar contraseña"
						type="password"
						[form]="formPassword"
						controlName="newPassword"
						[showIcon]="true"
						(input)="trimSpaces('newPassword')"
					>
					</app-input>
					<div
						*ngIf="
							formPassword.get('newPassword')?.touched &&
							formPassword.get('newPassword')?.hasError('minlength')
						"
					>
						<small class="text-danger">Debe tener mínimo 8 caracteres.</small>
					</div>
				</div>

				<!-- Confirmar contraseña -->
				<div class="w-100 mt-2">
					<app-input
						label="Confirmar contraseña"
						placeholder="Ingresar contraseña"
						type="password"
						[form]="formPassword"
						controlName="confirmPassword"
						[showIcon]="true"
						(input)="trimSpaces('confirmPassword')"
					>
					</app-input>
					<div
						*ngIf="
							formPassword.get('confirmPassword')?.touched &&
							formPassword.get('confirmPassword')?.hasError('minlength')
						"
					>
						<small class="text-danger">Debe tener mínimo 8 caracteres.</small>
					</div>
				</div>

				<!-- <div class="mt-2">
                    <app-checkbox label="Solicitar que todos los dispositivos inicien sesión con la nueva contraseña"
                        [form]="formPassword" controlName="forceLogout">
                    </app-checkbox>
                </div> -->

				<div class="d-flex justify-content-center gap-3 mt-4">
					<div class="d-flex w-100">
						<button
							class="btn btn-outline-secondary size-btnn"
							type="button"
							(click)="closeModal()"
						>
							Volver
						</button>
					</div>
					<div class="d-flex w-100">
						<button
							class="btn btn-secondary button-width size-btnn"
							type="button"
							[disabled]="(isLoading || formPassword.invalid || disabledUser)"
							(click)="updatePassword()"
						>
							<span
								*ngIf="isLoading"
								class="spinner-border spinner-border-sm"
								role="status"
								aria-hidden="true"
							>
							</span>
							Actualizar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
