<div class="d-flex flex-column gap-6 p-6 bg-white w-100">
	<!--Title-->
	<div class="d-flex w-100 align-items-center justify-content-between">
		<h1 class="fs-1 text-black fw-medium m-0">Cargar Archivo de Banco</h1>
		<button class="btn btn-secondary py-3 px-4" (click)="onUpload()">Cargar Archivo</button>
	</div>
	<!--Table | Pagination-->
	<table-pagination class="w-100" />
	<!--Table | Table-->
	<app-common-table
		class="w-100"
		[headers]="table.headers"
		[checkedAll]="table.checkedAll"
		[headersMinWidth]="table.headersMinWidth"
		[noCheckboxes]="table.noCheckBoxes"
		[headersArrows]="table.headersArrows"
		(onCheckedAll)="table.changeCheckedAll($event)"
	>
		<tr class="w-100 d-flex py-5 align-items-center" *ngFor="let item of table.data">
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.bankName }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.accountNumber }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.accountType }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.date }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.registerNumber }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.registerValidation }}</td>
			<td class="w-100 text-gray-900 text-center fs-6">{{ item.pendings }}</td>
			<td class="w-100 d-flex justify-content-center">
				<a routerLink="detail">
					<i class="bi bi-eye-fill fs-1 text-secondary cursor-pointer"></i>
				</a>
			</td>
		</tr>
	</app-common-table>
</div>
