.line {
    width: 100%;
    height: 5px;
    background-color: #FE7C04;
    margin-bottom: 15px;
}
/* Elimina el contorno y la sombra de los botones deshabilitados */
button:not([disabled]):focus {
  outline: none !important;
  box-shadow: none !important;
}

button[disabled] {
  cursor: not-allowed;
  color: #9e9e9e;
  border: none !important;
  opacity: 0.7;
  box-shadow: none !important;
}

.table-container {
  padding-left: 0;
  margin-left: 0;
}

.table-container th:first-child {
  padding-left: 0 !important;
  margin-left: 0 !important;
  text-align: left; /* Alinear el texto a la izquierda */
}

.table-container td:first-child {
  padding-left: 0 !important;
  margin-left: 0 !important;
  text-align: left; /* Alinear el texto a la izquierda */
}




