.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;
	border-radius: 8px;
	border-color: #ededed;
}

.card-body {
	display: flex;
	gap: 8px;
	padding: 16px;
	height: 100%;
	overflow: hidden;
}
.circle-icon {
	width: 56px;
	height: 56px;
	background-color: #f6f7fb;
	border-radius: 40px;
	img {
		height: 32px;
		width: 32px;
	}
}
.point-text {
	gap: 2px;
	&__sub-title {
		color: #8c9195;
		font-size: 14px;
		line-height: 16px;
	}
	&__title {
		font-size: 32px;
		line-height: 38px;
		font-weight: 500;
		color: #136077;
	}
}
